In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [2]:
engine = create_engine("mysql+pymysql://root:Jobma009%40@localhost:3306/jobma")

In [3]:
jobma_login_df = pd.read_sql("SELECT * FROM jobma_login", engine) #Usage details
jobma_login_df.shape

(39321, 21)

In [4]:
jobma_login_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39321 entries, 0 to 39320
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   jobma_login_id       39321 non-null  int64
 1   jobma_user_name      39321 non-null  object
 2   jobma_password       39321 non-null  object
 3   jobma_role_id        39321 non-null  int64
 4   jobma_user_id        39321 non-null  int64
 5   jobma_last_login     37785 non-null  object
 6   jobma_created_by     7854 non-null   object
 7   confirmed            39321 non-null  int64
 8   confirmation_code    39321 non-null  object
 9   jobma_login_status   7924 non-null   object
 10  jobma_login_ip       39321 non-null  object
 11  forget_password      245 non-null    object
 12  remember_token       39321 non-null  object
 13  jobma_social_login   39321 non-null  int64
 14  password_changed_at  39321 non-null  datetime64[ns]
 15  deleted_at           84 non-null     datetime64[ns]
 16  created_at           39321 non-null  object
 17  updated_at           39321 non-null  object
 18  google2fa_secret     0 non-null      object
 19  two_factor_status    39321 non-null  object
 20  two_factor_type      39321 non-null  object
dtypes: datetime64[ns](2), int64(5), object(14)
memory usage: 6.3+ MB

In [5]:
jobma_login_df.isna().sum()

jobma_login_id             0
jobma_user_name            0
jobma_password             0
jobma_role_id              0
jobma_user_id              0
jobma_last_login        1536
jobma_created_by       31467
confirmed                  0
confirmation_code          0
jobma_login_status     31397
jobma_login_ip             0
forget_password        39076
remember_token             0
jobma_social_login         0
password_changed_at        0
deleted_at             39237
created_at                 0
updated_at                 0
google2fa_secret       39321
two_factor_status          0
two_factor_type            0
dtype: int64

In [6]:
jobma_login_df.isna().sum().sort_values(ascending=False).head(7)

google2fa_secret      39321
deleted_at            39237
forget_password       39076
jobma_created_by      31467
jobma_login_status    31397
jobma_last_login       1536
jobma_user_id             0
dtype: int64

In [7]:
jobma_login_df.columns

Index(['jobma_login_id', 'jobma_user_name', 'jobma_password', 'jobma_role_id',
       'jobma_user_id', 'jobma_last_login', 'jobma_created_by', 'confirmed',
       'confirmation_code', 'jobma_login_status', 'jobma_login_ip',
       'forget_password', 'remember_token', 'jobma_social_login',
       'password_changed_at', 'deleted_at', 'created_at', 'updated_at',
       'google2fa_secret', 'two_factor_status', 'two_factor_type'],
      dtype='object')

In [8]:
# Check for duplicate jobma_user_id count
print("No of duplicate catcher_id ----", jobma_login_df['jobma_user_id'].duplicated().sum())

#top most duplicates
print("Top duplicated jobma_user_id ----")
print(jobma_login_df['jobma_user_id'].value_counts().head(10))

No of duplicate catcher_id ---- 684
Top duplicated jobma_user_id ----
jobma_user_id
0          470
1115527     35
1115509     19
1115275     15
1115355     11
1116481     11
1115511      8
1114545      8
1113966      8
1115599      7
Name: count, dtype: int64

In [9]:
column_data = jobma_login_df['jobma_created_by']
print(jobma_login_df.shape)
print("No of unique values----",column_data.nunique(dropna=False), "\n")
print("Unique values ---------",column_data.unique(), "\n")
print(column_data.value_counts(dropna=False).head(10), "\n")

(39321, 21)
No of unique values---- 4

Unique values --------- [None '0' '1' '2']

jobma_created_by
None    31467
1        7248
0         531
2          75
Name: count, dtype: int64

In [10]:
jobma_login_selected_df = jobma_login_df[['jobma_login_id',        #@39321 id
                                    # 'jobma_user_name',       # name
                                    # 'jobma_password',        # password
                                    'jobma_role_id',         #@7, 4,3,5,0,9,1,2 id----------------------------->>
                                    'jobma_user_id',         # id
                                    'jobma_last_login',      #@18233 almost 0000.000, None--------------------->> 
                                    'jobma_created_by',      #@4, NOne, 1, 0, 2-------------------------------->>
                                    'confirmed',             # 0,1-----1
                                    # 'confirmation_code',     #mostly null and email...
                                    'jobma_login_status',    #@4  -,0,1----------------------------------------->>
                                    # 'jobma_login_ip',        
                                    # 'forget_password',       
                                    # 'remember_token',        
                                    # 'jobma_social_login',    #2,  0,1---->0
                                    # 'password_changed_at',   
                                    'deleted_at',            #39237 is NAt value----------------------------------------------->>required all below three columns to know tenure of client
                                    'created_at',            ##---------------------------------------------------------------->> to find user tenure
                                    'updated_at',            ##----------------------------------------------------------------->>
                                    # 'google2fa_secret',      
                                    # 'two_factor_status',     #@0,1----->0
                                    # 'two_factor_type'        #@0,1----->0
                                   ]].copy()

In [11]:
jobma_login_selected_df

,jobma_login_id,jobma_role_id,jobma_user_id,jobma_last_login,jobma_created_by,confirmed,jobma_login_status,deleted_at,created_at,updated_at
0,1,4,1001,None,None,1,0,NaT,2024-09-26 16:21:36,2024-09-26 16:21:36
1,240,1,162,2024-10-18 07:38:58,0,1,1,NaT,0000-00-00 00:00:00,2024-10-18 07:38:58
2,535,5,96,0000-00-00 00:00:00,0,0,1,NaT,2016-11-23 20:53:27,2017-05-09 18:06:45
3,642,5,557,0000-00-00 00:00:00,1,0,1,NaT,0000-00-00 00:00:00,2018-02-09 01:02:45
4,993,4,908,0000-00-00 00:00:00,1,1,1,NaT,0000-00-00 00:00:00,0000-00-00 00:00:00
...,...,...,...,...,...,...,...,...,...,...
39316,112385,4,1127089,None,None,1,0,NaT,2025-03-26 11:25:35,2025-03-26 11:25:35
39317,112387,4,1127091,None,None,1,0,NaT,2025-03-26 11:26:56,2025-03-26 11:26:56
39318,112389,4,1127093,2025-03-26 12:57:28,None,1,0,NaT,2025-03-26 11:56:36,2025-03-26 11:56:36
39319,112391,4,1127095,None,None,1,0,NaT,2025-03-26 12:58:10,2025-03-26 12:58:10
39320,112393,3,9445,0000-00-00 00:00:00,1,1,0,NaT,2025-03-28 05:15:12,2025-03-28 05:15:12

In [12]:
jobma_login_selected_df.isna().sum()

jobma_login_id            0
jobma_role_id             0
jobma_user_id             0
jobma_last_login       1536
jobma_created_by      31467
confirmed                 0
jobma_login_status    31397
deleted_at            39237
created_at                0
updated_at                0
dtype: int64

In [13]:
jobma_login_selected_df.corr(numeric_only=True)

                jobma_login_id  jobma_role_id  jobma_user_id  confirmed
jobma_login_id        1.000000       0.067457       0.516334   0.094775
jobma_role_id         0.067457       1.000000       0.107183   0.116814
jobma_user_id         0.516334       0.107183       1.000000  -0.108933
confirmed             0.094775       0.116814      -0.108933   1.000000

In [14]:
jobma_login_selected_df.shape, jobma_login_df.shape

((39321, 10), (39321, 21))