# jobma_subscription_df
#how much frequently using 
#subscription history, total purchase

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine("mysql+pymysql://root:Jobma009%40@localhost:3306/jobma")

In [3]:
jobma_subscription_history_df = pd.read_sql("SELECT * FROM subscription_history", engine)

In [4]:
jobma_subscription_history_df.shape

(11049, 34)

In [5]:
jobma_subscription_history_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11049 entries, 0 to 11048
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   11049 non-null  int64
 1   catcher_id           11049 non-null  int64
 2   catcher_username     8072 non-null   object
 3   catcher_email        7390 non-null   object
 4   sub_user_id          967 non-null    float64
 5   subscription_id      11049 non-null  int64
 6   premium_plan_id      10927 non-null  float64
 7   premium_plan         10929 non-null  object
 8   transaction_id       11049 non-null  object
 9   subscription_amount  11049 non-null  float64
 10  credit_given         11049 non-null  int64
 11  paypal_profile_id    11049 non-null  object
 12  paypal_payer_id      11049 non-null  object
 13  expiry_date          11049 non-null  object
 14  currency             11049 non-null  object
 15  premium_storage      11049 non-null  int64
 16  igst                 11049 non-null  int64
 17  cgst                 11049 non-null  int64
 18  gst_code             4957 non-null   object
 19  currency_val         11049 non-null  float64
 20  recurring_data       11049 non-null  object
 21  payment_mode         11049 non-null  object
 22  status               11049 non-null  object
 23  payment_status       11049 non-null  object
 24  e_invoice            11049 non-null  object
 25  cheque_number        666 non-null    object
 26  banker               666 non-null    object
 27  cheque_amount        11049 non-null  float64
 28  cheque_image         8 non-null      object
 29  cancel_date          0 non-null      object
 30  invoice_suffix       11049 non-null  int64
 31  radioGstValue        11049 non-null  int64
 32  created_at           11049 non-null  datetime64[ns]
 33  updated_at           11049 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(5), int64(9), object(18)
memory usage: 2.9+ MB

In [6]:
jobma_subscription_history_df.isna().sum().sort_values(ascending=False).head(11)

cancel_date         11049
cheque_image        11041
banker              10383
cheque_number       10383
sub_user_id         10082
gst_code             6092
catcher_email        3659
catcher_username     2977
premium_plan_id       122
premium_plan          120
catcher_id              0
dtype: int64

In [7]:
# Check for duplicatewho has taken subscription many times whish shows frequent use
print("No of duplicate catcher_id ----", jobma_subscription_history_df['catcher_id'].duplicated().sum())

# duplicates
print("Top duplicated catcher_ids are")
print(jobma_subscription_history_df['catcher_id'].value_counts().head(10))

No of duplicate catcher_id ---- 5489
Top duplicated catcher_ids are
catcher_id
1873    238
5322    116
2334     79
2335     58
8490     51
4266     47
3678     33
8320     30
5943     29
7832     29
Name: count, dtype: int64

In [8]:
jobma_subscription_history_df.columns

Index(['id', 'catcher_id', 'catcher_username', 'catcher_email', 'sub_user_id',
       'subscription_id', 'premium_plan_id', 'premium_plan', 'transaction_id',
       'subscription_amount', 'credit_given', 'paypal_profile_id',
       'paypal_payer_id', 'expiry_date', 'currency', 'premium_storage', 'igst',
       'cgst', 'gst_code', 'currency_val', 'recurring_data', 'payment_mode',
       'status', 'payment_status', 'e_invoice', 'cheque_number', 'banker',
       'cheque_amount', 'cheque_image', 'cancel_date', 'invoice_suffix',
       'radioGstValue', 'created_at', 'updated_at'],
      dtype='object')

In [9]:
column_data = jobma_subscription_history_df['payment_status']
print(jobma_subscription_history_df.shape)
print("No of unique values----", column_data.nunique(dropna=False))
print("Unique values ---------", column_data.unique(), "\n")
print(column_data.value_counts(dropna=False).head(10))

(11049, 34)
No of unique values---- 3
Unique values --------- ['0' '1' '']

payment_status
1    9747
0    1123
      179
Name: count, dtype: int64

In [9]:
jobma_subscription_history_selected_df = jobma_subscription_history_df[['id',  # starts from 2
                                                  'catcher_id',  # duplicated catcher id as has buy many times
                                                  # 'catcher_username', 
                                                  # 'catcher_email', 
                                                  'sub_user_id',  #@407 unique values,  sub users and admins too many with same id----------------->>
                                                  'subscription_id',  # 1,2------------------------------------------------------------------------>>
                                                  'premium_plan_id',  #@10    1.0,2.0,3.0....10.0------------------------------------>>3.0,2.0 mostly
                                                  'premium_plan',  #@802 unique but dict------------ category of different different plans............??
                                                  # 'transaction_id',
                                                  'subscription_amount',  # diffrenet may be taken bu client--plan prices ----->May be................??
                                                  'credit_given',  #@37,   0,50,600,.................................How much credits they got on buying
                                                  # 'paypal_profile_id',
                                                  # 'paypal_payer_id',
                                                  'expiry_date',
                                                  'currency',  # 0,1-------------------------------------------------------------meaning of 0 ,1--------??
                                                  # 'premium_storage',----------------------------------------------------------all are 0...............??
                                                  # 'igst',
                                                  # 'cgst',
                                                  # 'gst_code',
                                                  'currency_val',  #@39,   1, 70 mostly 1 and 70-------------------------------------------------------->>
                                                  # 'recurring_data',  # Categorial data #Text data
                                                  'payment_mode',#@7, unique['1' '2' '3' '5' '' '6' '4'] , mostly 1,6,3
                                                  'status',  #1,0 iska nahi pta hai---------------------------------------------------------------------->>
                                                  'payment_status',#1,0-----------------------------------------------------------------------mostly 1--->>
                                                  # 'e_invoice',
                                                  # 'cheque_number',
                                                  # 'banker',
                                                  # 'cheque_amount',
                                                  # 'cheque_image',
                                                  # 'cancel_date',
                                                  # 'invoice_suffix',
                                                  # 'radioGstValue',
                                                  # 'created_at',
                                                  # 'updated_at'
                                                 ]].copy()

In [10]:
jobma_subscription_history_selected_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11049 entries, 0 to 11048
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   11049 non-null  int64
 1   catcher_id           11049 non-null  int64
 2   sub_user_id          967 non-null    float64
 3   subscription_id      11049 non-null  int64
 4   premium_plan_id      10927 non-null  float64
 5   premium_plan         10929 non-null  object
 6   subscription_amount  11049 non-null  float64
 7   credit_given         11049 non-null  int64
 8   expiry_date          11049 non-null  object
 9   currency             11049 non-null  object
 10  currency_val         11049 non-null  float64
 11  payment_mode         11049 non-null  object
 12  status               11049 non-null  object
 13  payment_status       11049 non-null  object
dtypes: float64(4), int64(4), object(6)
memory usage: 1.2+ MB

In [11]:
jobma_subscription_history_selected_df.corr(numeric_only=True).T

,id,catcher_id,sub_user_id,subscription_id,premium_plan_id,subscription_amount,credit_given,currency_val
id,1.000000,0.919424,0.916749,-0.058214,0.219921,0.015852,0.334630,-0.117551
catcher_id,0.919424,1.000000,0.936933,-0.062633,0.215345,0.017803,0.276893,-0.120148
sub_user_id,0.916749,0.936933,1.000000,NaN,-0.209452,0.021458,0.432461,NaN
subscription_id,-0.058214,-0.062633,NaN,1.000000,-0.013561,-0.001249,-0.010798,-0.003258
premium_plan_id,0.219921,0.215345,-0.209452,-0.013561,1.000000,0.008523,-0.125270,-0.028360
subscription_amount,0.015852,0.017803,0.021458,-0.001249,0.008523,1.000000,-0.006284,-0.002638
credit_given,0.334630,0.276893,0.432461,-0.010798,-0.125270,-0.006284,1.000000,-0.023028
currency_val,-0.117551,-0.120148,NaN,-0.003258,-0.028360,-0.002638,-0.023028,1.000000

In [12]:
jobma_subscription_history_df.shape, jobma_subscription_history_selected_df.shape

((11049, 34), (11049, 14))