In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [2]:
#create_engine() #sqlalchemy initialize connection to database.
engine = create_engine("mysql+pymysql://root:Jobma009%40@localhost:3306/jobma")

In [3]:
catcher_df = pd.read_sql("SELECT * FROM jobma_catcher", engine)
catcher_df.shape

(7672, 75)

In [4]:
catcher_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7672 entries, 0 to 7671
Data columns (total 75 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   jobma_catcher_id                7672 non-null   int64
 1   jobma_catcher_fname             7672 non-null   object
 2   jobma_catcher_lname             7672 non-null   object
 3   jobma_catcher_dob               1071 non-null   object
 4   jobma_catcher_video_status      2018 non-null   object
 5   jobma_catcher_company           7672 non-null   object
 6   org_type                        7672 non-null   object
 7   sec_ques_id                     7672 non-null   int64
 8   security_ans                    7672 non-null   object
 9   jobma_about_company             7672 non-null   object
 10  jobma_functional                7672 non-null   object
 11  jobma_catcher_indus             6126 non-null   object
 12  jobma_company_email             7672 non-null   object
 13  jobma_catcher_email             7672 non-null   object
 14  jobma_catcher_title             7672 non-null   int64
 15  jobma_catcher_ext               7672 non-null   object
 16  jobma_catcher_otype             7672 non-null   object
 17  jobma_catcher_photo             7672 non-null   object
 18  jobma_catcher_logo              104 non-null    object
 19  jobma_catcher_website           7672 non-null   object
 20  jobma_company_address           7672 non-null   object
 21  jobma_catcher_address2          972 non-null    object
 22  jobma_catcher_video             7672 non-null   object
 23  jobma_catcher_city              7672 non-null   int64
 24  jobma_catcher_state             7672 non-null   int64
 25  jobma_catcher_country           7672 non-null   int64
 26  jobma_catcher_zip               7672 non-null   object
 27  jobma_catcher_fax               6308 non-null   object
 28  jobma_catcher_phone             7672 non-null   object
 29  jobma_catcher_status            7649 non-null   object
 30  jobma_catcher_creation          7672 non-null   object
 31  jobma_catcher_type              5425 non-null   object
 32  jobma_catcher_sub_accounts      7672 non-null   object
 33  is_premium                      7672 non-null   object
 34  jobma_catcher_parent            7672 non-null   int64
 35  jobma_catcher_is_deleted        257 non-null    object
 36  jobma_verified                  7672 non-null   object
 37  jobma_in_index                  7354 non-null   object
 38  data_access                     7672 non-null   object
 39  subscription_status             7672 non-null   object
 40  interview_rate                  7672 non-null   float64
 41  remember_token                  7672 non-null   object
 42  deleted_at                      459 non-null    datetime64[ns]
 43  api_key                         7672 non-null   object
 44  sub_user                        7672 non-null   int64
 45  per_sub_user                    7672 non-null   object
 46  live_interview_credit           7672 non-null   float64
 47  pre_recorded_credit             7672 non-null   float64
 48  ai_live_interview_credit        7672 non-null   float64
 49  credit_value                    7672 non-null   int64
 50  interview_cost_type             7672 non-null   object
 51  subscription_type               7672 non-null   object
 52  phone_call_cost_type            7672 non-null   object
 53  call_and_regording_credits      82 non-null     float64
 54  transcription_credits           82 non-null     float64
 55  temp_subscription_type          7672 non-null   object
 56  created_at                      7672 non-null   datetime64[ns]
 57  updated_at                      7672 non-null   datetime64[ns]
 58  jobma_support_rtc               7672 non-null   object
 59  interview_question              7672 non-null   int64
 60  video_recording_suppport        7672 non-null   object
 61  subaccount_permission           7670 non-null   object
 62  reply_email                     1 non-null      object
 63  sing_up_canditate_after_apply   7672 non-null   object
 64  currency                        7672 non-null   object
 65  referral_credit                 7672 non-null   int64
 66  company_size                    5934 non-null   object
 67  theme                           7672 non-null   object
 68  flag                            7672 non-null   object
 69  jobma_auto_recording_status     7672 non-null   object
 70  jobma_scenario_question_status  7672 non-null   object
 71  ai_live_interview               7672 non-null   object
 72  ms_teams_chat_reference         1 non-null      object
 73  bot_audio                       7672 non-null   int64
 74  approval                        7672 non-null   object
dtypes: datetime64[ns](3), float64(6), int64(12), object(54)
memory usage: 4.4+ MB

In [5]:
catcher_df.columns

Index(['jobma_catcher_id', 'jobma_catcher_fname', 'jobma_catcher_lname',
       'jobma_catcher_dob', 'jobma_catcher_video_status',
       'jobma_catcher_company', 'org_type', 'sec_ques_id', 'security_ans',
       'jobma_about_company', 'jobma_functional', 'jobma_catcher_indus',
       'jobma_company_email', 'jobma_catcher_email', 'jobma_catcher_title',
       'jobma_catcher_ext', 'jobma_catcher_otype', 'jobma_catcher_photo',
       'jobma_catcher_logo', 'jobma_catcher_website', 'jobma_company_address',
       'jobma_catcher_address2', 'jobma_catcher_video', 'jobma_catcher_city',
       'jobma_catcher_state', 'jobma_catcher_country', 'jobma_catcher_zip',
       'jobma_catcher_fax', 'jobma_catcher_phone', 'jobma_catcher_status',
       'jobma_catcher_creation', 'jobma_catcher_type',
       'jobma_catcher_sub_accounts', 'is_premium', 'jobma_catcher_parent',
       'jobma_catcher_is_deleted', 'jobma_verified', 'jobma_in_index',
       'data_access', 'subscription_status', 'interview_rate',
       'remember_token', 'deleted_at', 'api_key', 'sub_user', 'per_sub_user',
       'live_interview_credit', 'pre_recorded_credit',
       'ai_live_interview_credit', 'credit_value', 'interview_cost_type',
       'subscription_type', 'phone_call_cost_type',
       'call_and_regording_credits', 'transcription_credits',
       'temp_subscription_type', 'created_at', 'updated_at',
       'jobma_support_rtc', 'interview_question', 'video_recording_suppport',
       'subaccount_permission', 'reply_email', 'sing_up_canditate_after_apply',
       'currency', 'referral_credit', 'company_size', 'theme', 'flag',
       'jobma_auto_recording_status', 'jobma_scenario_question_status',
       'ai_live_interview', 'ms_teams_chat_reference', 'bot_audio',
       'approval'],
      dtype='object')

In [6]:
catcher_df.duplicated().sum()

np.int64(0)

In [7]:
print(catcher_df.isna().sum())

jobma_catcher_id                     0
jobma_catcher_fname                  0
jobma_catcher_lname                  0
jobma_catcher_dob                 6601
jobma_catcher_video_status        5654
                                  ...
jobma_scenario_question_status       0
ai_live_interview                    0
ms_teams_chat_reference           7671
bot_audio                            0
approval                             0
Length: 75, dtype: int64

In [8]:
# Dropping the columns who is not familier or having large null values
catcher_df.drop(['jobma_catcher_fname',
                 'jobma_catcher_lname',
                 'jobma_catcher_dob',
                 'security_ans',
                 'jobma_catcher_email',
                 'jobma_company_email',
                 'jobma_catcher_photo',
                 'jobma_catcher_logo',
                 'jobma_catcher_website',
                 'jobma_catcher_video',
                 'jobma_catcher_fax',
                 'jobma_catcher_phone',
                 'jobma_company_address',
                 'jobma_catcher_address2',
                 'reply_email', #None values
                 'remember_token',
                 'phone_call_cost_type',#not use now but 'call_and_regording_credits' is used
                 'temp_subscription_type',#mostly 0------------------------------------------>why we use..?
                 'api_key',#keys
                 'ms_teams_chat_reference',#Only one value is filled which some chat text
                 'jobma_catcher_indus',#Rnadom Values[2,3,4,72,72etc]
                 # 'jobma_about_company', #mostly about SSI 6732
                 # 'jobma_catcher_title', #Numerical values [0,1,2,....8]
                 # 'jobma_functional', #mostly nulll [accounting, it, consulting, recruitment, sales]######################
                 # 'jobma_catcher_ext', #numerical data random numbers 84values
                 # 'call_and_regording_credits', ######################## May be credit 1, 2,,5 ,10, 99
                 # 'transcription_credits' ############################## Can be used but currently most are null
                ], axis=1, inplace=True)

In [9]:
#Insight About the columns
columns_df=catcher_df[['sec_ques_id',  #values are 0,1,2,3......................???
                       'jobma_catcher_company', #About compny[ssi, jobma, golden compass, uk aviation]
                       'org_type',              #1,2, employer, recruiter, php, corporation
                       'jobma_functional',      #IT, HR, Airlines, Supply, accounting, sales
                       'jobma_catcher_title',   #0,1,2......8-------------------???
                       'jobma_catcher_ext',     #123,357,789,1234......................>>??
                       'jobma_catcher_otype',    #1,2,Employer,recruiting firm,ad agency, 101,18
                       'jobma_catcher_city',     #numeric coded vlaue
                       'jobma_catcher_state',#Numeric coded value............
                       'jobma_catcher_status',#0,1-------------------------------------->???
                       'jobma_catcher_type',  #0,1--------------------------------------->
                       'jobma_catcher_sub_accounts',#0,_,7,49----------------------------->
                       'is_premium',#0,1
                       'jobma_catcher_parent',#0.92,1873,1692------------------------------>
                       'jobma_verified',#0,1 Mostly 
                       'jobma_in_index',#mostly 1,     
                       'data_access',#mostly 1,     
                       'subscription_status',#1,2,3---------------------------------------->     
                       'interview_rate',#0.0--------------------------------->
                       'sub_user',#0,1,2,10,999,----------------------------->
                       'per_sub_user',#10,10000,60,[60,100]
                       'live_interview_credit',#0.0,1.0,1.5,15
                       'pre_recorded_credit',#0.0,1.0,1.5,2.0,15
                       'ai_live_interview_credit',#1.0,2.0  mostly 1
                       'credit_value',#1,2,4,5,8 mostly 1
                       'interview_cost_type',#0,1
                       'subscription_type',#0,1
                       'call_and_regording_credits',#1,2,5,9999,111
                       'transcription_credits',##1,2,5,9999,111
                       'jobma_support_rtc',#0,1,2---------------------------------??whattt
                       'interview_question',#3,4,5,10,20--------------------->>
                       'video_recording_suppport',#0,1,2
                       'subaccount_permission',#
                       'sing_up_canditate_after_apply',#0,1 mostly 0
                       'currency',#0,1---------------------------------->1 for usd
                       'referral_credit',#0,100,200,400 mostky 0------------->>>
                       'company_size',#1-25, 26-100, 101-500, 500-1000, morethan 1000         #########used
                       'theme',#0,1----------------------------------------faeture
                       'flag',#0,1,2---------------------------------------------------------------...????
                       'jobma_auto_recording_status',#0,1 mostly 0
                       'jobma_scenario_question_status',#0,1 mostly 0
                       'ai_live_interview',#0,1---0
                       'bot_audio',#0,1-=-->1
                       'approval',#only 0
                      ]]

In [10]:
columns_df.shape

(7672, 44)

In [11]:
print(catcher_df['flag'].value_counts())

flag
0    7659
1      11
2       2
Name: count, dtype: int64

In [12]:
catcher_df['jobma_catcher_creation'].isna().sum()

np.int64(0)

In [13]:
print(catcher_df['jobma_catcher_creation'].unique())

[datetime.date(2023, 6, 21) datetime.date(2016, 11, 22)
 datetime.date(2016, 1, 20) ... datetime.date(2025, 3, 5)
 datetime.date(2025, 3, 11) datetime.date(2025, 3, 12)]

In [14]:
print(catcher_df['jobma_catcher_creation'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 7672 entries, 0 to 7671
Series name: jobma_catcher_creation
Non-Null Count  Dtype
--------------  -----
7672 non-null   object
dtypes: object(1)
memory usage: 60.1+ KB
None

In [15]:
print(catcher_df['flag'].head(20))

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: flag, dtype: object

In [16]:
catcher_df.columns

Index(['jobma_catcher_id', 'jobma_catcher_video_status',
       'jobma_catcher_company', 'org_type', 'sec_ques_id',
       'jobma_about_company', 'jobma_functional', 'jobma_catcher_title',
       'jobma_catcher_ext', 'jobma_catcher_otype', 'jobma_catcher_city',
       'jobma_catcher_state', 'jobma_catcher_country', 'jobma_catcher_zip',
       'jobma_catcher_status', 'jobma_catcher_creation', 'jobma_catcher_type',
       'jobma_catcher_sub_accounts', 'is_premium', 'jobma_catcher_parent',
       'jobma_catcher_is_deleted', 'jobma_verified', 'jobma_in_index',
       'data_access', 'subscription_status', 'interview_rate', 'deleted_at',
       'sub_user', 'per_sub_user', 'live_interview_credit',
       'pre_recorded_credit', 'ai_live_interview_credit', 'credit_value',
       'interview_cost_type', 'subscription_type',
       'call_and_regording_credits', 'transcription_credits', 'created_at',
       'updated_at', 'jobma_support_rtc', 'interview_question',
       'video_recording_suppport', 'subaccount_permission',
       'sing_up_canditate_after_apply', 'currency', 'referral_credit',
       'company_size', 'theme', 'flag', 'jobma_auto_recording_status',
       'jobma_scenario_question_status', 'ai_live_interview', 'bot_audio',
       'approval'],
      dtype='object')

In [17]:
for col in catcher_df.columns:
    print(f"{catcher_df[col].value_counts().head(5)}\n\n------------")

jobma_catcher_id
9445    1
1       1
92      1
96      1
106     1
Name: count, dtype: int64

------------
jobma_catcher_video_status
1    1931
0      87
Name: count, dtype: int64

------------
jobma_catcher_company
ssi      1527
Jobma     495
SSI       475
jobma     305
Test      276
Name: count, dtype: int64

------------
org_type
             6312
1             727
2             356
employer      263
recruiter      10
Name: count, dtype: int64

------------
sec_ques_id
0    7364
1     262
2      39
3       7
Name: count, dtype: int64

------------
jobma_about_company
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               6732
Select Source International is a Global Solutions provider of IT staffing and Project services. Our service offering has 5 main practices; ERP, Application Development, Middleware, Database Management and Project Services. SSI offers industry leading Data Migration, Compliance, and Risk Management through its subsidiary Data Wave. Data Wave offers Cyber Security and risk management through a GRC product suite called Risk Utilities. In addition to our technology offerings, SSI also provides administrative and business consulting services.    Industry Experience:  Retail  Healthcare  Manufacturing  Energy and Utilities  Government  Financial  Engineering                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             48
What is Lorem Ipsum?\r\nLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.\r\nWhat is Lorem Ipsum?\r\nLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.\r\n\r\nWhy do we use it?What is Lorem Ipsum?\r\nLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.\r\n\r\nWhy do we use it?\r\nIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).   \r\nIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).What is Lorem Ipsum?\r\nLorem Ipsum is simply dummy text of the printing and typesett\r\nWhy do we use it?What is Lorem Ipsum?\r\nLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.\r\n\r\nWhy do we use it?\r\nIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).   \r\nIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).      46

In [18]:
catcher_df['is_premium'].value_counts()

is_premium
0    5559
1    2112
        1
Name: count, dtype: int64

In [19]:
catcher_df['jobma_catcher_parent'].value_counts().head(10)

jobma_catcher_parent
0       5546
92        45
1873      45
1692      33
871       28
1412      26
2335      25
709       24
2046      21
1988      20
Name: count, dtype: int64

In [20]:
catcher_df['jobma_catcher_is_deleted'].value_counts()

jobma_catcher_is_deleted
1    129
0    128
Name: count, dtype: int64

In [21]:
catcher_df

,jobma_catcher_id,jobma_catcher_video_status,jobma_catcher_company,org_type,sec_ques_id,jobma_about_company,jobma_functional,jobma_catcher_title,jobma_catcher_ext,jobma_catcher_otype,...,currency,referral_credit,company_size,theme,flag,jobma_auto_recording_status,jobma_scenario_question_status,ai_live_interview,bot_audio,approval
0,1,None,Jobma,1,0,,,0,,,...,0,0,1-25,0,0,0,0,0,1,0
1,92,1,Select Source International,,1,Select Source International is a Global Soluti...,,0,,1,...,0,0,None,0,0,0,0,0,1,0
2,96,1,Select Source International,employer,0,Select Source International is a Global Soluti...,IT Application Programming / Maintenance,0,305,,...,0,0,None,0,0,0,0,0,1,0
3,106,1,Singhal System Solutions Pvt. Ltd.,employer,0,IT Company,IT Software- ERP / CRM,0,,,...,0,0,None,0,0,0,0,0,1,0
4,117,1,Select Source International,employer,0,Select Source International is a Global Soluti...,Human Resources,0,,1,...,0,0,None,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7667,9437,None,JOBMA,1,0,Description from settings new company descript...,,0,,,...,0,0,1-25,0,0,0,0,0,1,0
7668,9439,None,JOBMA,1,0,Description from settings new company descript...,,0,,,...,0,0,1-25,0,0,0,0,0,1,0
7669,9441,None,JOBMA,1,0,Description from settings new company descript...,,0,,,...,0,0,1-25,0,0,0,0,0,1,0
7670,9443,None,Jobma,,0,What is Lorem Ipsum?\r\nLorem Ipsum is simply ...,,0,,,...,0,0,500-1000,0,0,0,0,0,1,0
7671,9445,None,Jobma,1,0,,,1,,,...,0,0,1-25,0,0,0,0,0,1,0

In [22]:
catcher_df.shape

(7672, 54)

In [23]:
catcher_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7672 entries, 0 to 7671
Data columns (total 54 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   jobma_catcher_id                7672 non-null   int64
 1   jobma_catcher_video_status      2018 non-null   object
 2   jobma_catcher_company           7672 non-null   object
 3   org_type                        7672 non-null   object
 4   sec_ques_id                     7672 non-null   int64
 5   jobma_about_company             7672 non-null   object
 6   jobma_functional                7672 non-null   object
 7   jobma_catcher_title             7672 non-null   int64
 8   jobma_catcher_ext               7672 non-null   object
 9   jobma_catcher_otype             7672 non-null   object
 10  jobma_catcher_city              7672 non-null   int64
 11  jobma_catcher_state             7672 non-null   int64
 12  jobma_catcher_country           7672 non-null   int64
 13  jobma_catcher_zip               7672 non-null   object
 14  jobma_catcher_status            7649 non-null   object
 15  jobma_catcher_creation          7672 non-null   object
 16  jobma_catcher_type              5425 non-null   object
 17  jobma_catcher_sub_accounts      7672 non-null   object
 18  is_premium                      7672 non-null   object
 19  jobma_catcher_parent            7672 non-null   int64
 20  jobma_catcher_is_deleted        257 non-null    object
 21  jobma_verified                  7672 non-null   object
 22  jobma_in_index                  7354 non-null   object
 23  data_access                     7672 non-null   object
 24  subscription_status             7672 non-null   object
 25  interview_rate                  7672 non-null   float64
 26  deleted_at                      459 non-null    datetime64[ns]
 27  sub_user                        7672 non-null   int64
 28  per_sub_user                    7672 non-null   object
 29  live_interview_credit           7672 non-null   float64
 30  pre_recorded_credit             7672 non-null   float64
 31  ai_live_interview_credit        7672 non-null   float64
 32  credit_value                    7672 non-null   int64
 33  interview_cost_type             7672 non-null   object
 34  subscription_type               7672 non-null   object
 35  call_and_regording_credits      82 non-null     float64
 36  transcription_credits           82 non-null     float64
 37  created_at                      7672 non-null   datetime64[ns]
 38  updated_at                      7672 non-null   datetime64[ns]
 39  jobma_support_rtc               7672 non-null   object
 40  interview_question              7672 non-null   int64
 41  video_recording_suppport        7672 non-null   object
 42  subaccount_permission           7670 non-null   object
 43  sing_up_canditate_after_apply   7672 non-null   object
 44  currency                        7672 non-null   object
 45  referral_credit                 7672 non-null   int64
 46  company_size                    5934 non-null   object
 47  theme                           7672 non-null   object
 48  flag                            7672 non-null   object
 49  jobma_auto_recording_status     7672 non-null   object
 50  jobma_scenario_question_status  7672 non-null   object
 51  ai_live_interview               7672 non-null   object
 52  bot_audio                       7672 non-null   int64
 53  approval                        7672 non-null   object
dtypes: datetime64[ns](3), float64(6), int64(12), object(33)
memory usage: 3.2+ MB

In [24]:
catcher_df.to_csv('client_df.csv', index=False)

# <u style="color:blue;"> Login Table from Database------></u>

In [25]:
login_df = pd.read_sql("SELECT * FROM jobma_login", engine)

In [26]:
login_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39321 entries, 0 to 39320
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   jobma_login_id       39321 non-null  int64
 1   jobma_user_name      39321 non-null  object
 2   jobma_password       39321 non-null  object
 3   jobma_role_id        39321 non-null  int64
 4   jobma_user_id        39321 non-null  int64
 5   jobma_last_login     37785 non-null  object
 6   jobma_created_by     7854 non-null   object
 7   confirmed            39321 non-null  int64
 8   confirmation_code    39321 non-null  object
 9   jobma_login_status   7924 non-null   object
 10  jobma_login_ip       39321 non-null  object
 11  forget_password      245 non-null    object
 12  remember_token       39321 non-null  object
 13  jobma_social_login   39321 non-null  int64
 14  password_changed_at  39321 non-null  datetime64[ns]
 15  deleted_at           84 non-null     datetime64[ns]
 16  created_at           39321 non-null  object
 17  updated_at           39321 non-null  object
 18  google2fa_secret     0 non-null      object
 19  two_factor_status    39321 non-null  object
 20  two_factor_type      39321 non-null  object
dtypes: datetime64[ns](2), int64(5), object(14)
memory usage: 6.3+ MB

In [27]:
login_df.columns

Index(['jobma_login_id', 'jobma_user_name', 'jobma_password', 'jobma_role_id',
       'jobma_user_id', 'jobma_last_login', 'jobma_created_by', 'confirmed',
       'confirmation_code', 'jobma_login_status', 'jobma_login_ip',
       'forget_password', 'remember_token', 'jobma_social_login',
       'password_changed_at', 'deleted_at', 'created_at', 'updated_at',
       'google2fa_secret', 'two_factor_status', 'two_factor_type'],
      dtype='object')

In [28]:
# login_df['jobma_user_id']

In [29]:
# login_df['jobma_user_id'].value_counts()

In [30]:
login_df['jobma_last_login'].value_counts().head(10)
login_df['jobma_created_by'].value_counts().head(10)
login_df['confirmed'].value_counts().head(10)
login_df['confirmation_code'].value_counts().head(10)
login_df['jobma_login_status'].value_counts().head(10)
login_df['jobma_login_ip'].value_counts().head(10)
login_df['forget_password'].value_counts().head(10)

forget_password
1    137
0    108
Name: count, dtype: int64

In [31]:
# for col in login_df.columns:
#     print(f"{login_df[col].value_counts().head(5)}\n\n------------")

In [32]:
login_df.drop(['jobma_user_name',
               'jobma_password',
               'jobma_role_id',
               'confirmation_code',   #codes urltyped
               'jobma_login_ip',  #mostly null and may be used
               'forget_password',
               'remember_token',
               'jobma_social_login',
               'password_changed_at',  #Can be usefull to fill created at or active or not
               'two_factor_status',   #0,1----------->0-need help
               'two_factor_type',    #0,1--->0
               'google2fa_secret'
              ], axis=1, inplace=True)

In [33]:
""""
'jobma_login_id'
'jobma_role_id'  #0,3,4,5,9-------------------->
'jobma_user_id'  #1115527,1115509,1115275,1115275,0--->0
'jobma_last_login'  #Date can be used to fetch user tenure but mostly 00000000

'jobma_created_by', #0,1,2---------->1
'confirmed', #1,0---------->1
'jobma_login_status', #0,1------------>0
'deleted_at', #mostly null

"""

'"\n\'jobma_login_id\'\n\'jobma_role_id\'  #0,3,4,5,9-------------------->\n\'jobma_user_id\'  #1115527,1115509,1115275,1115275,0--->0\n\'jobma_last_login\'  #Date can be used to fetch user tenure but mostly 00000000\n\n\'jobma_created_by\', #0,1,2---------->1\n\'confirmed\', #1,0---------->1\n\'jobma_login_status\', #0,1------------>0\n\'deleted_at\', #mostly null\n\n'

In [34]:
login_df

,jobma_login_id,jobma_user_id,jobma_last_login,jobma_created_by,confirmed,jobma_login_status,deleted_at,created_at,updated_at
0,1,1001,None,None,1,0,NaT,2024-09-26 16:21:36,2024-09-26 16:21:36
1,240,162,2024-10-18 07:38:58,0,1,1,NaT,0000-00-00 00:00:00,2024-10-18 07:38:58
2,535,96,0000-00-00 00:00:00,0,0,1,NaT,2016-11-23 20:53:27,2017-05-09 18:06:45
3,642,557,0000-00-00 00:00:00,1,0,1,NaT,0000-00-00 00:00:00,2018-02-09 01:02:45
4,993,908,0000-00-00 00:00:00,1,1,1,NaT,0000-00-00 00:00:00,0000-00-00 00:00:00
...,...,...,...,...,...,...,...,...,...
39316,112385,1127089,None,None,1,0,NaT,2025-03-26 11:25:35,2025-03-26 11:25:35
39317,112387,1127091,None,None,1,0,NaT,2025-03-26 11:26:56,2025-03-26 11:26:56
39318,112389,1127093,2025-03-26 12:57:28,None,1,0,NaT,2025-03-26 11:56:36,2025-03-26 11:56:36
39319,112391,1127095,None,None,1,0,NaT,2025-03-26 12:58:10,2025-03-26 12:58:10
39320,112393,9445,0000-00-00 00:00:00,1,1,0,NaT,2025-03-28 05:15:12,2025-03-28 05:15:12

In [35]:
login_df.isna().sum()

jobma_login_id            0
jobma_user_id             0
jobma_last_login       1536
jobma_created_by      31467
confirmed                 0
jobma_login_status    31397
deleted_at            39237
created_at                0
updated_at                0
dtype: int64

# Wallet Dataframe

In [36]:
wallet_df = pd.read_sql("SELECT * FROM wallet", engine)

In [37]:
wallet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5562 entries, 0 to 5561
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5562 non-null   int64
 1   catcher_id            5562 non-null   int64
 2   credit_amount         165 non-null    float64
 3   wallet_amount         5562 non-null   float64
 4   subscription_type     5562 non-null   object
 5   plan_type             5562 non-null   object
 6   is_unlimited          5562 non-null   object
 7   premium_storage       5562 non-null   int64
 8   trial_account_type    5161 non-null   float64
 9   gst_code              2781 non-null   object
 10  billing_cycle         2 non-null      object
 11  billing_cycle_status  5562 non-null   object
 12  created_at            5562 non-null   datetime64[ns]
 13  updated_at            5562 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(3), object(6)
memory usage: 608.5+ KB

In [38]:
# for col in wallet_df.columns:
#     print(f"{wallet_df[col].value_counts().head(5)}\n\n")

In [39]:
# wallet_df.drop(['gst_code',
#                 '',],axis=1, inplace=True)

In [40]:
subscription_df = pd.read_sql("SELECT * FROM subscription_history", engine)

In [41]:
subscription_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11049 entries, 0 to 11048
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   11049 non-null  int64
 1   catcher_id           11049 non-null  int64
 2   catcher_username     8072 non-null   object
 3   catcher_email        7390 non-null   object
 4   sub_user_id          967 non-null    float64
 5   subscription_id      11049 non-null  int64
 6   premium_plan_id      10927 non-null  float64
 7   premium_plan         10929 non-null  object
 8   transaction_id       11049 non-null  object
 9   subscription_amount  11049 non-null  float64
 10  credit_given         11049 non-null  int64
 11  paypal_profile_id    11049 non-null  object
 12  paypal_payer_id      11049 non-null  object
 13  expiry_date          11049 non-null  object
 14  currency             11049 non-null  object
 15  premium_storage      11049 non-null  int64
 16  igst                 11049 non-null  int64
 17  cgst                 11049 non-null  int64
 18  gst_code             4957 non-null   object
 19  currency_val         11049 non-null  float64
 20  recurring_data       11049 non-null  object
 21  payment_mode         11049 non-null  object
 22  status               11049 non-null  object
 23  payment_status       11049 non-null  object
 24  e_invoice            11049 non-null  object
 25  cheque_number        666 non-null    object
 26  banker               666 non-null    object
 27  cheque_amount        11049 non-null  float64
 28  cheque_image         8 non-null      object
 29  cancel_date          0 non-null      object
 30  invoice_suffix       11049 non-null  int64
 31  radioGstValue        11049 non-null  int64
 32  created_at           11049 non-null  datetime64[ns]
 33  updated_at           11049 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(5), int64(9), object(18)
memory usage: 2.9+ MB

In [42]:
catcher_language_df = pd.read_sql("SELECT * FROM jobma_catcher_language", engine)

In [43]:
catcher_language_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 41 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              305 non-null    int64
 1   catcher_id                      305 non-null    int64
 2   lang_value                      285 non-null    object
 3   emp_date_format                 99 non-null     object
 4   interview_reminder              305 non-null    int64
 5   interview_privacy_text          27 non-null     object
 6   interview_instruction           29 non-null     object
 7   practice_question_enable        305 non-null    object
 8   practice_question               304 non-null    object
 9   background_image                5 non-null      object
 10  addons_transcription            305 non-null    object
 11  addons_notification             305 non-null    object
 12  ats_email_notification          305 non-null    object
 13  ats_email_id                    115 non-null    object
 14  prerecorded_email_id            151 non-null    object
 15  prerecorded_email_notification  305 non-null    object
 16  live_schedule_notification      305 non-null    object
 17  ai_live_email_notification      305 non-null    object
 18  ai_live_email_id                3 non-null      object
 19  invite_guests                   305 non-null    object
 20  invite_hosts                    305 non-null    object
 21  two_factor_authentication       305 non-null    object
 22  ai_scoring                      305 non-null    object
 23  interview_setting               14 non-null     object
 24  interview_configuration         13 non-null     object
 25  redirect_url                    10 non-null     object
 26  timezone                        305 non-null    object
 27  live_interview_source           305 non-null    int64
 28  auto_recording                  305 non-null    object
 29  scenario_question               305 non-null    object
 30  share_evaluation_pre_post       305 non-null    object
 31  custom_background               8 non-null      object
 32  theme                           305 non-null    object
 33  interview_expiry_days           24 non-null     object
 34  sms_messages                    305 non-null    object
 35  prerecorded_sms                 5 non-null      object
 36  live_sms                        5 non-null      object
 37  share_evaluation                304 non-null    object
 38  ai_video_accent                 2 non-null      object
 39  created_at                      305 non-null    datetime64[ns]
 40  updated_at                      305 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(4), object(35)
memory usage: 97.8+ KB

In [44]:
employer_job_posting_df = pd.read_sql("SELECT * FROM jobma_employer_job_posting", engine)

In [45]:
employer_job_posting_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16742 entries, 0 to 16741
Data columns (total 72 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   jobma_job_post_id                        16742 non-null  int64
 1   taleo_job_id                             15852 non-null  float64
 2   jobma_catcher_id                         16742 non-null  int64
 3   job_assessment_kit_id                    14587 non-null  float64
 4   ai_live_kit_id                           12 non-null     float64
 5   jobma_job_title                          16742 non-null  object
 6   slug                                     16742 non-null  object
 7   jobma_job_description                    16590 non-null  object
 8   jobma_job_notes                          9498 non-null   object
 9   jobma_job_type                           16742 non-null  object
 10  job_dur_year                             4068 non-null   float64
 11  job_dur_month                            4068 non-null   float64
 12  jobma_job_min_exp                        10557 non-null  float64
 13  jobma_job_max_exp                        10554 non-null  float64
 14  jobma_job_min_salary                     10766 non-null  float64
 15  jobma_job_max_salary                     10763 non-null  float64
 16  jobma_job_sal_negotiable                 4871 non-null   float64
 17  jobma_job_sal_comments                   5445 non-null   object
 18  jobma_job_qualification                  7465 non-null   object
 19  jobma_job_locations                      16742 non-null  object
 20  jobma_job_industry                       16742 non-null  object
 21  jobma_job_functional_areas               16742 non-null  object
 22  jobma_job_keywords                       16742 non-null  object
 23  jobma_job_currency                       16742 non-null  object
 24  jobma_job_salary_type                    9112 non-null   object
 25  jobma_job_recruiter_name                 16742 non-null  object
 26  jobma_job_recruiter_email                16742 non-null  object
 27  jobma_job_recruiter_phone                16742 non-null  object
 28  jobma_job_recruiter_ext                  16742 non-null  object
 29  jobma_job_recruiter_website              11271 non-null  object
 30  jobma_job_company_name                   16742 non-null  object
 31  jobma_job_company_profile                16742 non-null  object
 32  jobma_job_company_website                16742 non-null  object
 33  jobma_job_company_url_redirect           5641 non-null   object
 34  jobma_job_notice_period                  16742 non-null  int64
 35  jobma_job_expiry_date                    16742 non-null  object
 36  jobma_job_apply_count                    0 non-null      object
 37  jobma_job_view_count                     0 non-null      object
 38  jobma_job_inactive_date                  4528 non-null   object
 39  jobma_job_inactive_reason                5506 non-null   object
 40  jobma_job_company_show                   16742 non-null  int64
 41  jobma_job_recruiter_show                 16742 non-null  int64
 42  jobma_job_interview_questions_ids        16742 non-null  object
 43  jobma_question_think_time                16742 non-null  object
 44  jobma_question_takes                     16742 non-null  object
 45  jobma_job_interview_questions_durations  16742 non-null  object
 46  jobma_job_video_link                     9132 non-null   object
 47  jobma_job_video_status                   14235 non-null  object
 48  video_flag                               16742 non-null  object
 49  jobma_job_status                         16742 non-null  int64
 50  jobma_job_filename                       7076 non-null   object
 51  approval                                 16742 non-null  object
 52  jobma_job_paper_ids                      16742 non-null  object
 53  optional_ques                            16742 non-null  int64
 54  optional_ques_text                       16742 non-null  object
 55  job_subscription_status                  16742 non-null  object
 56  won_source_job_id                        121 non-null    object
 57  won_profile_name                         121 non-null    object
 58  won_job_status                           121 non-null    object
 59  applicant_count                          31 non-null     float64
 60  is_deleted                               4068 non-null   float64
 61  is_hot                                   9374 non-null   float64
 62  source                                   16742 non-null  object
 63  source_id                                400 non-null    object
 64  is_private_job                           16742 non-null  object
 65  google_schema                            16742 non-null  object
 66  monster_post_id                          17 non-null     object
 67  bamboo_job_id                            16742 non-null  object
 68  created_at                               16742 non-null  datetime64[ns]
 69  updated_at                               16742 non-null  datetime64[ns]
 70  jobma_job_created_date                   16410 non-null  datetime64[ns]
 71  ai_rating_params                         9 non-null      object
dtypes: datetime64[ns](3), float64(13), int64(7), object(49)
memory usage: 9.2+ MB

In [46]:
login_df.head(10)

,jobma_login_id,jobma_user_id,jobma_last_login,jobma_created_by,confirmed,jobma_login_status,deleted_at,created_at,updated_at
0,1,1001,None,None,1,0,NaT,2024-09-26 16:21:36,2024-09-26 16:21:36
1,240,162,2024-10-18 07:38:58,0,1,1,NaT,0000-00-00 00:00:00,2024-10-18 07:38:58
2,535,96,0000-00-00 00:00:00,0,0,1,NaT,2016-11-23 20:53:27,2017-05-09 18:06:45
3,642,557,0000-00-00 00:00:00,1,0,1,NaT,0000-00-00 00:00:00,2018-02-09 01:02:45
4,993,908,0000-00-00 00:00:00,1,1,1,NaT,0000-00-00 00:00:00,0000-00-00 00:00:00
5,1009,924,2020-02-05 23:09:03,1,1,1,NaT,0000-00-00 00:00:00,2020-02-05 23:09:03
6,1096,106,0000-00-00 00:00:00,0,1,1,NaT,0000-00-00 00:00:00,2019-11-12 05:35:02
7,4015,117,0000-00-00 00:00:00,1,1,1,NaT,0000-00-00 00:00:00,2017-09-20 02:04:49
8,4237,124,0000-00-00 00:00:00,0,1,1,NaT,0000-00-00 00:00:00,2019-11-13 05:28:04
9,4261,125,0000-00-00 00:00:00,0,1,1,NaT,0000-00-00 00:00:00,2019-11-13 05:28:04

In [47]:
catcher_login = pd.merge(
    catcher_df,
    login_df,
    how='left',
    left_on='jobma_catcher_id',
    right_on='jobma_user_id'
)

In [48]:
catcher_login

,jobma_catcher_id,jobma_catcher_video_status,jobma_catcher_company,org_type,sec_ques_id,jobma_about_company,jobma_functional,jobma_catcher_title,jobma_catcher_ext,jobma_catcher_otype,...,approval,jobma_login_id,jobma_user_id,jobma_last_login,jobma_created_by,confirmed,jobma_login_status,deleted_at_y,created_at_y,updated_at_y
0,1,None,Jobma,1,0,,,0,,,...,0,49985.0,1.0,2020-05-05 04:42:01,None,1.0,1,NaT,2017-05-25 11:31:58,2020-05-05 04:42:01
1,92,1,Select Source International,,1,Select Source International is a Global Soluti...,,0,,1,...,0,41884.0,92.0,2024-03-20 08:23:26,1,1.0,1,NaT,0000-00-00 00:00:00,2024-03-20 08:23:26
2,96,1,Select Source International,employer,0,Select Source International is a Global Soluti...,IT Application Programming / Maintenance,0,305,,...,0,535.0,96.0,0000-00-00 00:00:00,0,0.0,1,NaT,2016-11-23 20:53:27,2017-05-09 18:06:45
3,106,1,Singhal System Solutions Pvt. Ltd.,employer,0,IT Company,IT Software- ERP / CRM,0,,,...,0,1096.0,106.0,0000-00-00 00:00:00,0,1.0,1,NaT,0000-00-00 00:00:00,2019-11-12 05:35:02
4,117,1,Select Source International,employer,0,Select Source International is a Global Soluti...,Human Resources,0,,1,...,0,4015.0,117.0,0000-00-00 00:00:00,1,1.0,1,NaT,0000-00-00 00:00:00,2017-09-20 02:04:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7671,9437,None,JOBMA,1,0,Description from settings new company descript...,,0,,,...,0,112347.0,9437.0,0000-00-00 00:00:00,1,1.0,None,NaT,2025-03-11 08:43:16,2025-03-11 08:43:16
7672,9439,None,JOBMA,1,0,Description from settings new company descript...,,0,,,...,0,112349.0,9439.0,0000-00-00 00:00:00,1,1.0,None,NaT,2025-03-11 08:45:05,2025-03-12 04:18:03
7673,9441,None,JOBMA,1,0,Description from settings new company descript...,,0,,,...,0,112351.0,9441.0,0000-00-00 00:00:00,1,0.0,None,NaT,2025-03-11 09:34:11,2025-03-11 11:46:56
7674,9443,None,Jobma,,0,What is Lorem Ipsum?\r\nLorem Ipsum is simply ...,,0,,,...,0,112353.0,9443.0,2025-03-26 05:22:07,1,1.0,None,NaT,2025-03-12 06:28:33,2025-03-26 05:22:07
7675,9445,None,Jobma,1,0,,,1,,,...,0,112393.0,9445.0,0000-00-00 00:00:00,1,1.0,0,NaT,2025-03-28 05:15:12,2025-03-28 05:15:12

In [49]:
wallet_df

,id,catcher_id,credit_amount,wallet_amount,subscription_type,plan_type,is_unlimited,premium_storage,trial_account_type,gst_code,billing_cycle,billing_cycle_status,created_at,updated_at
0,1,669,NaN,0.0,0,0,0,0,NaN,None,None,0,2017-11-03 12:10:27,2017-11-03 12:10:27
1,2,92,NaN,34.0,0,0,0,0,0.0,None,None,0,2017-11-03 12:10:27,2020-02-20 07:10:00
2,3,898,NaN,0.0,0,0,0,0,NaN,None,None,0,2017-11-03 04:36:27,2017-11-03 04:36:27
3,4,912,NaN,0.0,0,0,0,0,NaN,None,None,0,2017-11-03 14:08:57,2017-11-03 14:08:57
4,5,92,NaN,3.0,0,0,0,0,0.0,None,None,0,2017-11-03 14:08:57,2020-02-20 07:10:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5557,5985,9319,NaN,500000.0,0,0,1,0,0.0,None,None,1,2024-06-12 11:14:07,2024-07-02 12:56:06
5558,5987,9365,NaN,137.0,0,0,0,0,0.0,,None,0,2024-07-11 08:05:25,2024-07-17 09:32:21
5559,5989,9405,NaN,500000.0,0,0,1,0,0.0,None,None,0,2024-09-04 05:01:02,2024-09-04 05:01:02
5560,5991,9413,NaN,15000.0,0,0,0,0,0.0,,None,0,2024-09-24 09:18:45,2024-09-24 09:20:17
5561,5993,9445,NaN,150.0,0,0,0,0,0.0,None,None,0,2025-03-28 05:15:12,2025-03-28 05:15:12

In [50]:
catcher_login_wallet_df = pd.merge(
    catcher_login,
    wallet_df,
    how='left',
    left_on='jobma_catcher_id',
    right_on='catcher_id'
)

In [51]:
catcher_login_wallet_df

,jobma_catcher_id,jobma_catcher_video_status,jobma_catcher_company,org_type,sec_ques_id,jobma_about_company,jobma_functional,jobma_catcher_title,jobma_catcher_ext,jobma_catcher_otype,...,subscription_type_y,plan_type,is_unlimited,premium_storage,trial_account_type,gst_code,billing_cycle,billing_cycle_status,created_at,updated_at
0,1,None,Jobma,1,0,,,0,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,92,1,Select Source International,,1,Select Source International is a Global Soluti...,,0,,1,...,0,0,0,0.0,0.0,None,None,0,2017-11-03 12:10:27,2020-02-20 07:10:00
2,92,1,Select Source International,,1,Select Source International is a Global Soluti...,,0,,1,...,0,0,0,0.0,0.0,None,None,0,2017-11-03 14:08:57,2020-02-20 07:10:00
3,96,1,Select Source International,employer,0,Select Source International is a Global Soluti...,IT Application Programming / Maintenance,0,305,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4,106,1,Singhal System Solutions Pvt. Ltd.,employer,0,IT Company,IT Software- ERP / CRM,0,,,...,0,0,0,0.0,NaN,None,None,0,2017-11-03 14:08:57,2017-11-03 14:08:57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7673,9437,None,JOBMA,1,0,Description from settings new company descript...,,0,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
7674,9439,None,JOBMA,1,0,Description from settings new company descript...,,0,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
7675,9441,None,JOBMA,1,0,Description from settings new company descript...,,0,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
7676,9443,None,Jobma,,0,What is Lorem Ipsum?\r\nLorem Ipsum is simply ...,,0,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
7677,9445,None,Jobma,1,0,,,1,,,...,0,0,0,0.0,0.0,None,None,0,2025-03-28 05:15:12,2025-03-28 05:15:12

In [52]:
catcher_login_wallet_subscription_df = pd.merge(
    catcher_login_wallet_df,
    subscription_df,
    how='left',
    left_on='jobma_catcher_id',
    right_on='catcher_id',
    suffixes=('', '_subscription')  # or anything meaningful to you
)

In [53]:
catcher_login_wallet_subscription_df

,jobma_catcher_id,jobma_catcher_video_status,jobma_catcher_company,org_type,sec_ques_id,jobma_about_company,jobma_functional,jobma_catcher_title,jobma_catcher_ext,jobma_catcher_otype,...,e_invoice,cheque_number,banker,cheque_amount,cheque_image,cancel_date,invoice_suffix,radioGstValue,created_at_subscription,updated_at_subscription
0,1,None,Jobma,1,0,,,0,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,92,1,Select Source International,,1,Select Source International is a Global Soluti...,,0,,1,...,0,None,None,0.0,None,None,0.0,1.0,2017-11-16 14:10:19,2021-06-11 12:41:24
2,92,1,Select Source International,,1,Select Source International is a Global Soluti...,,0,,1,...,1,None,None,0.0,None,None,0.0,1.0,2020-02-20 07:10:00,2024-06-25 05:32:13
3,92,1,Select Source International,,1,Select Source International is a Global Soluti...,,0,,1,...,0,None,None,0.0,None,None,0.0,1.0,2017-11-16 14:10:19,2021-06-11 12:41:24
4,92,1,Select Source International,,1,Select Source International is a Global Soluti...,,0,,1,...,1,None,None,0.0,None,None,0.0,1.0,2020-02-20 07:10:00,2024-06-25 05:32:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13134,9437,None,JOBMA,1,0,Description from settings new company descript...,,0,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
13135,9439,None,JOBMA,1,0,Description from settings new company descript...,,0,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
13136,9441,None,JOBMA,1,0,Description from settings new company descript...,,0,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
13137,9443,None,Jobma,,0,What is Lorem Ipsum?\r\nLorem Ipsum is simply ...,,0,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
13138,9445,None,Jobma,1,0,,,1,,,...,0,None,None,0.0,None,None,0.0,1.0,2025-03-28 05:15:12,2025-03-28 05:15:12

In [54]:
print(catcher_login_wallet_subscription_df.isna().sum())

jobma_catcher_id                  0
jobma_catcher_video_status    10063
jobma_catcher_company             0
org_type                          0
sec_ques_id                       0
                              ...
cancel_date                   13139
invoice_suffix                 2127
radioGstValue                  2127
created_at_subscription        2127
updated_at_subscription        2127
Length: 111, dtype: int64

In [55]:
catcher_login_wallet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7678 entries, 0 to 7677
Data columns (total 77 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   jobma_catcher_id                7678 non-null   int64
 1   jobma_catcher_video_status      2023 non-null   object
 2   jobma_catcher_company           7678 non-null   object
 3   org_type                        7678 non-null   object
 4   sec_ques_id                     7678 non-null   int64
 5   jobma_about_company             7678 non-null   object
 6   jobma_functional                7678 non-null   object
 7   jobma_catcher_title             7678 non-null   int64
 8   jobma_catcher_ext               7678 non-null   object
 9   jobma_catcher_otype             7678 non-null   object
 10  jobma_catcher_city              7678 non-null   int64
 11  jobma_catcher_state             7678 non-null   int64
 12  jobma_catcher_country           7678 non-null   int64
 13  jobma_catcher_zip               7678 non-null   object
 14  jobma_catcher_status            7655 non-null   object
 15  jobma_catcher_creation          7678 non-null   object
 16  jobma_catcher_type              5431 non-null   object
 17  jobma_catcher_sub_accounts      7678 non-null   object
 18  is_premium                      7678 non-null   object
 19  jobma_catcher_parent            7678 non-null   int64
 20  jobma_catcher_is_deleted        259 non-null    object
 21  jobma_verified                  7678 non-null   object
 22  jobma_in_index                  7360 non-null   object
 23  data_access                     7678 non-null   object
 24  subscription_status             7678 non-null   object
 25  interview_rate                  7678 non-null   float64
 26  deleted_at_x                    459 non-null    datetime64[ns]
 27  sub_user                        7678 non-null   int64
 28  per_sub_user                    7678 non-null   object
 29  live_interview_credit           7678 non-null   float64
 30  pre_recorded_credit             7678 non-null   float64
 31  ai_live_interview_credit        7678 non-null   float64
 32  credit_value                    7678 non-null   int64
 33  interview_cost_type             7678 non-null   object
 34  subscription_type_x             7678 non-null   object
 35  call_and_regording_credits      82 non-null     float64
 36  transcription_credits           82 non-null     float64
 37  created_at_x                    7678 non-null   datetime64[ns]
 38  updated_at_x                    7678 non-null   datetime64[ns]
 39  jobma_support_rtc               7678 non-null   object
 40  interview_question              7678 non-null   int64
 41  video_recording_suppport        7678 non-null   object
 42  subaccount_permission           7676 non-null   object
 43  sing_up_canditate_after_apply   7678 non-null   object
 44  currency                        7678 non-null   object
 45  referral_credit                 7678 non-null   int64
 46  company_size                    5935 non-null   object
 47  theme                           7678 non-null   object
 48  flag                            7678 non-null   object
 49  jobma_auto_recording_status     7678 non-null   object
 50  jobma_scenario_question_status  7678 non-null   object
 51  ai_live_interview               7678 non-null   object
 52  bot_audio                       7678 non-null   int64
 53  approval                        7678 non-null   object
 54  jobma_login_id                  7670 non-null   float64
 55  jobma_user_id                   7670 non-null   float64
 56  jobma_last_login                7662 non-null   object
 57  jobma_created_by                7606 non-null   object
 58  confirmed                       7670 non-null   float64
 59  jobma_login_status              5690 non-null   object
 60  deleted_at_y                    81 non-null     datetime64[ns]
 61  created_at_y                    7670 non-null   object
 62  updated_at_y                    7670 non-null   object
 63  id                              5548 non-null   float64
 64  catcher_id                      5548 non-null   float64
 65  credit_amount                   165 non-null    float64
 66  wallet_amount                   5548 non-null   float64
 67  subscription_type_y             5548 non-null   object
 68  plan_type                       5548 non-null   object
 69  is_unlimited                    5548 non-null   object
 70  premium_storage                 5548 non-null   float64
 71  trial_account_type              5155 non-null   float64
 72  gst_code                        2777 non-null   object
 73  billing_cycle                   2 non-null      object
 74  billing_cycle_status            5548 non-null   object
 75  created_at                      5548 non-null   datetime64[ns]
 76  updated_at                      5548 non-null   datetime64[ns]
dtypes: datetime64[ns](6), float64(15), int64(12), object(44)
memory usage: 4.5+ MB

In [56]:
# catcher_login_wallet_subscription_df.to_csv("catcher_login_wallet_subscription.csv", index=False)