In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [2]:
#create_engine() #sqlalchemy initialize connection to database.
engine = create_engine("mysql+pymysql://root:Jobma009%40@localhost:3306/jobma")

In [3]:
catcher_df = pd.read_sql("SELECT * FROM jobma_catcher", engine)
catcher_df.shape

(7672, 75)

In [4]:
catcher_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7672 entries, 0 to 7671
Data columns (total 75 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   jobma_catcher_id                7672 non-null   int64
 1   jobma_catcher_fname             7672 non-null   object
 2   jobma_catcher_lname             7672 non-null   object
 3   jobma_catcher_dob               1071 non-null   object
 4   jobma_catcher_video_status      2018 non-null   object
 5   jobma_catcher_company           7672 non-null   object
 6   org_type                        7672 non-null   object
 7   sec_ques_id                     7672 non-null   int64
 8   security_ans                    7672 non-null   object
 9   jobma_about_company             7672 non-null   object
 10  jobma_functional                7672 non-null   object
 11  jobma_catcher_indus             6126 non-null   object
 12  jobma_company_email             7672 non-null   object
 13  jobma_catcher_email             7672 non-null   object
 14  jobma_catcher_title             7672 non-null   int64
 15  jobma_catcher_ext               7672 non-null   object
 16  jobma_catcher_otype             7672 non-null   object
 17  jobma_catcher_photo             7672 non-null   object
 18  jobma_catcher_logo              104 non-null    object
 19  jobma_catcher_website           7672 non-null   object
 20  jobma_company_address           7672 non-null   object
 21  jobma_catcher_address2          972 non-null    object
 22  jobma_catcher_video             7672 non-null   object
 23  jobma_catcher_city              7672 non-null   int64
 24  jobma_catcher_state             7672 non-null   int64
 25  jobma_catcher_country           7672 non-null   int64
 26  jobma_catcher_zip               7672 non-null   object
 27  jobma_catcher_fax               6308 non-null   object
 28  jobma_catcher_phone             7672 non-null   object
 29  jobma_catcher_status            7649 non-null   object
 30  jobma_catcher_creation          7672 non-null   object
 31  jobma_catcher_type              5425 non-null   object
 32  jobma_catcher_sub_accounts      7672 non-null   object
 33  is_premium                      7672 non-null   object
 34  jobma_catcher_parent            7672 non-null   int64
 35  jobma_catcher_is_deleted        257 non-null    object
 36  jobma_verified                  7672 non-null   object
 37  jobma_in_index                  7354 non-null   object
 38  data_access                     7672 non-null   object
 39  subscription_status             7672 non-null   object
 40  interview_rate                  7672 non-null   float64
 41  remember_token                  7672 non-null   object
 42  deleted_at                      459 non-null    datetime64[ns]
 43  api_key                         7672 non-null   object
 44  sub_user                        7672 non-null   int64
 45  per_sub_user                    7672 non-null   object
 46  live_interview_credit           7672 non-null   float64
 47  pre_recorded_credit             7672 non-null   float64
 48  ai_live_interview_credit        7672 non-null   float64
 49  credit_value                    7672 non-null   int64
 50  interview_cost_type             7672 non-null   object
 51  subscription_type               7672 non-null   object
 52  phone_call_cost_type            7672 non-null   object
 53  call_and_regording_credits      82 non-null     float64
 54  transcription_credits           82 non-null     float64
 55  temp_subscription_type          7672 non-null   object
 56  created_at                      7672 non-null   datetime64[ns]
 57  updated_at                      7672 non-null   datetime64[ns]
 58  jobma_support_rtc               7672 non-null   object
 59  interview_question              7672 non-null   int64
 60  video_recording_suppport        7672 non-null   object
 61  subaccount_permission           7670 non-null   object
 62  reply_email                     1 non-null      object
 63  sing_up_canditate_after_apply   7672 non-null   object
 64  currency                        7672 non-null   object
 65  referral_credit                 7672 non-null   int64
 66  company_size                    5934 non-null   object
 67  theme                           7672 non-null   object
 68  flag                            7672 non-null   object
 69  jobma_auto_recording_status     7672 non-null   object
 70  jobma_scenario_question_status  7672 non-null   object
 71  ai_live_interview               7672 non-null   object
 72  ms_teams_chat_reference         1 non-null      object
 73  bot_audio                       7672 non-null   int64
 74  approval                        7672 non-null   object
dtypes: datetime64[ns](3), float64(6), int64(12), object(54)
memory usage: 4.4+ MB

In [5]:
# catcher_df.columns

In [6]:
# catcher_df.duplicated().sum()

In [7]:
# print(catcher_df.isna().sum())

In [8]:
# Dropping the columns who is not familier or having large null values
catcher_df.drop(['jobma_catcher_fname',
                 'jobma_catcher_lname',
                 'jobma_catcher_dob',
                 'security_ans',
                 'jobma_catcher_email',
                 'jobma_company_email',
                 'jobma_catcher_photo',
                 'jobma_catcher_logo',
                 'jobma_catcher_website',
                 'jobma_catcher_video',
                 'jobma_catcher_fax',
                 'jobma_catcher_phone',
                 'jobma_company_address',
                 'jobma_catcher_address2',
                 'reply_email', #None values
                 'remember_token',
                 'phone_call_cost_type',#not use now but 'call_and_regording_credits' is used
                 'temp_subscription_type',#mostly 0------------------------------------------>why we use..?
                 'api_key',#keys
                 'ms_teams_chat_reference',#Only one value is filled which some chat text
                 'jobma_catcher_indus',#Rnadom Values[2,3,4,72,72etc]
                 # 'jobma_about_company', #mostly about SSI 6732
                 # 'jobma_catcher_title', #Numerical values [0,1,2,....8]
                 # 'jobma_functional', #mostly nulll [accounting, it, consulting, recruitment, sales]######################
                 # 'jobma_catcher_ext', #numerical data random numbers 84values
                 # 'call_and_regording_credits', ######################## May be credit 1, 2,,5 ,10, 99
                 # 'transcription_credits' ############################## Can be used but currently most are null
                ], axis=1, inplace=True)

In [9]:
#Insight About the columns
columns_df=catcher_df[['sec_ques_id',  #values are 0,1,2,3......................???
                       'jobma_catcher_company', #About compny[ssi, jobma, golden compass, uk aviation]
                       'org_type',              #1,2, employer, recruiter, php, corporation
                       'jobma_functional',      #IT, HR, Airlines, Supply, accounting, sales
                       'jobma_catcher_title',   #0,1,2......8-------------------???
                       'jobma_catcher_ext',     #123,357,789,1234
                       'jobma_catcher_otype',    #1,2,Employer,recruiting firm,ad agency, 101,18
                       'jobma_catcher_city',     #numeric coded vlaue
                       'jobma_catcher_state',#Numeric coded value............
                       'jobma_catcher_status',#0,1-------------------------------------->???
                       'jobma_catcher_type',  #0,1--------------------------------------->
                       'jobma_catcher_sub_accounts',#0,_,7,49----------------------------->
                       'is_premium',#0,1
                       'jobma_catcher_parent',#0.92,1873,1692------------------------------>
                       'jobma_verified',#0,1 Mostly 
                       'jobma_in_index',#mostly 1,     
                       'data_access',#mostly 1,     
                       'subscription_status',#1,2,3---------------------------------------->     
                       'interview_rate',#0.0--------------------------------->
                       'sub_user',#0,1,2,10,999,----------------------------->
                       'per_sub_user',#10,10000,60,[60,100]
                       'live_interview_credit',#0.0,1.0,1.5,15
                       'pre_recorded_credit',#0.0,1.0,1.5,2.0,15
                       'ai_live_interview_credit',#1.0,2.0  mostly 1
                       'credit_value',#1,2,4,5,8 mostly 1
                       'interview_cost_type',#0,1
                       'subscription_type',#0,1
                       'call_and_regording_credits',#1,2,5,9999,111
                       'transcription_credits',##1,2,5,9999,111
                       'jobma_support_rtc',#0,1,2---------------------------------??whattt
                       'interview_question',#3,4,5,10,20--------------------->>
                       'video_recording_suppport',#0,1,2
                       'subaccount_permission',#
                       'sing_up_canditate_after_apply',#0,1 mostly 0
                       'currency',#0,1---------------------------------->1 for usd
                       'referral_credit',#0,100,200,400 mostky 0------------->>>
                       'company_size',#1-25, 26-100, 101-500, 500-1000, morethan 1000         #########used
                       'theme',#0,1----------------------------------------faeture
                       'flag',#0,1,2---------------------------------------------------------------...????
                       'jobma_auto_recording_status',#0,1 mostly 0
                       'jobma_scenario_question_status',#0,1 mostly 0
                       'ai_live_interview',#0,1---0
                       'bot_audio',#0,1-=-->1
                       'approval',#only 0
                      ]]

In [10]:
columns_df.shape

(7672, 44)

In [11]:
# print(catcher_df['flag'].value_counts())
# catcher_df['jobma_catcher_creation'].isna().sum()
# print(catcher_df['jobma_catcher_creation'].unique())
# print()
# print(catcher_df['jobma_catcher_creation'].info())
# print()
# print(catcher_df['flag'].head(20))

In [12]:
catcher_df.columns

Index(['jobma_catcher_id', 'jobma_catcher_video_status',
       'jobma_catcher_company', 'org_type', 'sec_ques_id',
       'jobma_about_company', 'jobma_functional', 'jobma_catcher_title',
       'jobma_catcher_ext', 'jobma_catcher_otype', 'jobma_catcher_city',
       'jobma_catcher_state', 'jobma_catcher_country', 'jobma_catcher_zip',
       'jobma_catcher_status', 'jobma_catcher_creation', 'jobma_catcher_type',
       'jobma_catcher_sub_accounts', 'is_premium', 'jobma_catcher_parent',
       'jobma_catcher_is_deleted', 'jobma_verified', 'jobma_in_index',
       'data_access', 'subscription_status', 'interview_rate', 'deleted_at',
       'sub_user', 'per_sub_user', 'live_interview_credit',
       'pre_recorded_credit', 'ai_live_interview_credit', 'credit_value',
       'interview_cost_type', 'subscription_type',
       'call_and_regording_credits', 'transcription_credits', 'created_at',
       'updated_at', 'jobma_support_rtc', 'interview_question',
       'video_recording_suppport', 'subaccount_permission',
       'sing_up_canditate_after_apply', 'currency', 'referral_credit',
       'company_size', 'theme', 'flag', 'jobma_auto_recording_status',
       'jobma_scenario_question_status', 'ai_live_interview', 'bot_audio',
       'approval'],
      dtype='object')

In [13]:
# for col in catcher_df.columns:
#     print(f"{catcher_df[col].value_counts().head(5)}\n\n------------")

In [14]:
catcher_df['is_premium'].value_counts()

is_premium
0    5559
1    2112
        1
Name: count, dtype: int64

In [15]:
catcher_df['jobma_catcher_parent'].value_counts().head(10)

jobma_catcher_parent
0       5546
92        45
1873      45
1692      33
871       28
1412      26
2335      25
709       24
2046      21
1988      20
Name: count, dtype: int64

In [16]:
catcher_df['jobma_catcher_is_deleted'].value_counts()

jobma_catcher_is_deleted
1    129
0    128
Name: count, dtype: int64

In [17]:
catcher_df

,jobma_catcher_id,jobma_catcher_video_status,jobma_catcher_company,org_type,sec_ques_id,jobma_about_company,jobma_functional,jobma_catcher_title,jobma_catcher_ext,jobma_catcher_otype,...,currency,referral_credit,company_size,theme,flag,jobma_auto_recording_status,jobma_scenario_question_status,ai_live_interview,bot_audio,approval
0,1,None,Jobma,1,0,,,0,,,...,0,0,1-25,0,0,0,0,0,1,0
1,92,1,Select Source International,,1,Select Source International is a Global Soluti...,,0,,1,...,0,0,None,0,0,0,0,0,1,0
2,96,1,Select Source International,employer,0,Select Source International is a Global Soluti...,IT Application Programming / Maintenance,0,305,,...,0,0,None,0,0,0,0,0,1,0
3,106,1,Singhal System Solutions Pvt. Ltd.,employer,0,IT Company,IT Software- ERP / CRM,0,,,...,0,0,None,0,0,0,0,0,1,0
4,117,1,Select Source International,employer,0,Select Source International is a Global Soluti...,Human Resources,0,,1,...,0,0,None,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7667,9437,None,JOBMA,1,0,Description from settings new company descript...,,0,,,...,0,0,1-25,0,0,0,0,0,1,0
7668,9439,None,JOBMA,1,0,Description from settings new company descript...,,0,,,...,0,0,1-25,0,0,0,0,0,1,0
7669,9441,None,JOBMA,1,0,Description from settings new company descript...,,0,,,...,0,0,1-25,0,0,0,0,0,1,0
7670,9443,None,Jobma,,0,What is Lorem Ipsum?\r\nLorem Ipsum is simply ...,,0,,,...,0,0,500-1000,0,0,0,0,0,1,0
7671,9445,None,Jobma,1,0,,,1,,,...,0,0,1-25,0,0,0,0,0,1,0

In [18]:
catcher_df.shape

(7672, 54)

In [19]:
catcher_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7672 entries, 0 to 7671
Data columns (total 54 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   jobma_catcher_id                7672 non-null   int64
 1   jobma_catcher_video_status      2018 non-null   object
 2   jobma_catcher_company           7672 non-null   object
 3   org_type                        7672 non-null   object
 4   sec_ques_id                     7672 non-null   int64
 5   jobma_about_company             7672 non-null   object
 6   jobma_functional                7672 non-null   object
 7   jobma_catcher_title             7672 non-null   int64
 8   jobma_catcher_ext               7672 non-null   object
 9   jobma_catcher_otype             7672 non-null   object
 10  jobma_catcher_city              7672 non-null   int64
 11  jobma_catcher_state             7672 non-null   int64
 12  jobma_catcher_country           7672 non-null   int64
 13  jobma_catcher_zip               7672 non-null   object
 14  jobma_catcher_status            7649 non-null   object
 15  jobma_catcher_creation          7672 non-null   object
 16  jobma_catcher_type              5425 non-null   object
 17  jobma_catcher_sub_accounts      7672 non-null   object
 18  is_premium                      7672 non-null   object
 19  jobma_catcher_parent            7672 non-null   int64
 20  jobma_catcher_is_deleted        257 non-null    object
 21  jobma_verified                  7672 non-null   object
 22  jobma_in_index                  7354 non-null   object
 23  data_access                     7672 non-null   object
 24  subscription_status             7672 non-null   object
 25  interview_rate                  7672 non-null   float64
 26  deleted_at                      459 non-null    datetime64[ns]
 27  sub_user                        7672 non-null   int64
 28  per_sub_user                    7672 non-null   object
 29  live_interview_credit           7672 non-null   float64
 30  pre_recorded_credit             7672 non-null   float64
 31  ai_live_interview_credit        7672 non-null   float64
 32  credit_value                    7672 non-null   int64
 33  interview_cost_type             7672 non-null   object
 34  subscription_type               7672 non-null   object
 35  call_and_regording_credits      82 non-null     float64
 36  transcription_credits           82 non-null     float64
 37  created_at                      7672 non-null   datetime64[ns]
 38  updated_at                      7672 non-null   datetime64[ns]
 39  jobma_support_rtc               7672 non-null   object
 40  interview_question              7672 non-null   int64
 41  video_recording_suppport        7672 non-null   object
 42  subaccount_permission           7670 non-null   object
 43  sing_up_canditate_after_apply   7672 non-null   object
 44  currency                        7672 non-null   object
 45  referral_credit                 7672 non-null   int64
 46  company_size                    5934 non-null   object
 47  theme                           7672 non-null   object
 48  flag                            7672 non-null   object
 49  jobma_auto_recording_status     7672 non-null   object
 50  jobma_scenario_question_status  7672 non-null   object
 51  ai_live_interview               7672 non-null   object
 52  bot_audio                       7672 non-null   int64
 53  approval                        7672 non-null   object
dtypes: datetime64[ns](3), float64(6), int64(12), object(33)
memory usage: 3.2+ MB

In [20]:
catcher_df.to_csv('client_df.csv', index=False)

# <u style="color:blue;"> Login Table from Database------></u>

In [21]:
login_df = pd.read_sql("SELECT * FROM jobma_login", engine)

In [22]:
login_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39321 entries, 0 to 39320
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   jobma_login_id       39321 non-null  int64
 1   jobma_user_name      39321 non-null  object
 2   jobma_password       39321 non-null  object
 3   jobma_role_id        39321 non-null  int64
 4   jobma_user_id        39321 non-null  int64
 5   jobma_last_login     37785 non-null  object
 6   jobma_created_by     7854 non-null   object
 7   confirmed            39321 non-null  int64
 8   confirmation_code    39321 non-null  object
 9   jobma_login_status   7924 non-null   object
 10  jobma_login_ip       39321 non-null  object
 11  forget_password      245 non-null    object
 12  remember_token       39321 non-null  object
 13  jobma_social_login   39321 non-null  int64
 14  password_changed_at  39321 non-null  datetime64[ns]
 15  deleted_at           84 non-null     datetime64[ns]
 16  created_at           39321 non-null  object
 17  updated_at           39321 non-null  object
 18  google2fa_secret     0 non-null      object
 19  two_factor_status    39321 non-null  object
 20  two_factor_type      39321 non-null  object
dtypes: datetime64[ns](2), int64(5), object(14)
memory usage: 6.3+ MB

In [23]:
login_df.columns

Index(['jobma_login_id', 'jobma_user_name', 'jobma_password', 'jobma_role_id',
       'jobma_user_id', 'jobma_last_login', 'jobma_created_by', 'confirmed',
       'confirmation_code', 'jobma_login_status', 'jobma_login_ip',
       'forget_password', 'remember_token', 'jobma_social_login',
       'password_changed_at', 'deleted_at', 'created_at', 'updated_at',
       'google2fa_secret', 'two_factor_status', 'two_factor_type'],
      dtype='object')

In [24]:
# login_df['jobma_user_id']

In [25]:
# login_df['jobma_user_id'].value_counts()

In [26]:
login_df['jobma_last_login'].value_counts().head(10)
login_df['jobma_created_by'].value_counts().head(10)
login_df['confirmed'].value_counts().head(10)
login_df['confirmation_code'].value_counts().head(10)
login_df['jobma_login_status'].value_counts().head(10)
login_df['jobma_login_ip'].value_counts().head(10)
login_df['forget_password'].value_counts().head(10)

forget_password
1    137
0    108
Name: count, dtype: int64

In [27]:
# for col in login_df.columns:
#     print(f"{login_df[col].value_counts().head(5)}\n\n------------")

In [28]:
login_df.drop(['jobma_user_name',
               'jobma_password',
               'jobma_role_id',
               'confirmation_code',   #codes urltyped
               'jobma_login_ip',  #mostly null and may be used
               'forget_password',
               'remember_token',
               'jobma_social_login',
               'password_changed_at',  #Can be usefull to fill created at or active or not
               'two_factor_status',   #0,1----------->0-need help
               'two_factor_type',    #0,1--->0
               'google2fa_secret'
              ], axis=1, inplace=True)

In [29]:
# """"
# 'jobma_login_id'
# 'jobma_role_id'  #0,3,4,5,9-------------------->
# 'jobma_user_id'  #1115527,1115509,1115275,1115275,0--->0
# 'jobma_last_login'  #Date can be used to fetch user tenure but mostly 00000000

# 'jobma_created_by', #0,1,2---------->1
# 'confirmed', #1,0---------->1
# 'jobma_login_status', #0,1------------>0
# 'deleted_at', #mostly null

# """

In [30]:
login_df

,jobma_login_id,jobma_user_id,jobma_last_login,jobma_created_by,confirmed,jobma_login_status,deleted_at,created_at,updated_at
0,1,1001,None,None,1,0,NaT,2024-09-26 16:21:36,2024-09-26 16:21:36
1,240,162,2024-10-18 07:38:58,0,1,1,NaT,0000-00-00 00:00:00,2024-10-18 07:38:58
2,535,96,0000-00-00 00:00:00,0,0,1,NaT,2016-11-23 20:53:27,2017-05-09 18:06:45
3,642,557,0000-00-00 00:00:00,1,0,1,NaT,0000-00-00 00:00:00,2018-02-09 01:02:45
4,993,908,0000-00-00 00:00:00,1,1,1,NaT,0000-00-00 00:00:00,0000-00-00 00:00:00
...,...,...,...,...,...,...,...,...,...
39316,112385,1127089,None,None,1,0,NaT,2025-03-26 11:25:35,2025-03-26 11:25:35
39317,112387,1127091,None,None,1,0,NaT,2025-03-26 11:26:56,2025-03-26 11:26:56
39318,112389,1127093,2025-03-26 12:57:28,None,1,0,NaT,2025-03-26 11:56:36,2025-03-26 11:56:36
39319,112391,1127095,None,None,1,0,NaT,2025-03-26 12:58:10,2025-03-26 12:58:10
39320,112393,9445,0000-00-00 00:00:00,1,1,0,NaT,2025-03-28 05:15:12,2025-03-28 05:15:12

In [31]:
login_df.isna().sum()

jobma_login_id            0
jobma_user_id             0
jobma_last_login       1536
jobma_created_by      31467
confirmed                 0
jobma_login_status    31397
deleted_at            39237
created_at                0
updated_at                0
dtype: int64

# Wallet Dataframe

In [32]:
wallet_df = pd.read_sql("SELECT * FROM wallet", engine)

In [33]:
wallet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5562 entries, 0 to 5561
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5562 non-null   int64
 1   catcher_id            5562 non-null   int64
 2   credit_amount         165 non-null    float64
 3   wallet_amount         5562 non-null   float64
 4   subscription_type     5562 non-null   object
 5   plan_type             5562 non-null   object
 6   is_unlimited          5562 non-null   object
 7   premium_storage       5562 non-null   int64
 8   trial_account_type    5161 non-null   float64
 9   gst_code              2781 non-null   object
 10  billing_cycle         2 non-null      object
 11  billing_cycle_status  5562 non-null   object
 12  created_at            5562 non-null   datetime64[ns]
 13  updated_at            5562 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(3), object(6)
memory usage: 608.5+ KB

In [34]:
# for col in wallet_df.columns:
#     print(f"{wallet_df[col].value_counts().head(5)}\n\n")

In [36]:
# wallet_df.drop(['gst_code',
#                 '',],axis=1, inplace=True)

In [ ]:
subscription_df = pd.read_sql("SELECT * FROM subscription_history", engine)

In [ ]:
subscription_df.info()

In [ ]:
catcher_language_df = pd.read_sql("SELECT * FROM jobma_catcher_language", engine)

In [ ]:
catcher_language_df.info()

In [ ]:
employer_job_posting_df = pd.read_sql("SELECT * FROM jobma_employer_job_posting", engine)

In [ ]:
employer_job_posting_df.info()

In [ ]:
login_df.head(10)

In [ ]:
catcher_login = pd.merge(
    catcher_df,
    login_df,
    how='left',
    left_on='jobma_catcher_id',
    right_on='jobma_user_id'
)

In [ ]:
catcher_login

In [ ]:
wallet_df

In [ ]:
catcher_login_wallet_df = pd.merge(
    catcher_login,
    wallet_df,
    how='left',
    left_on='jobma_catcher_id',
    right_on='catcher_id'
)

In [ ]:
catcher_login_wallet_df

In [ ]:
catcher_login_wallet_subscription_df = pd.merge(
    catcher_login_wallet_df,
    subscription_df,
    how='left',
    left_on='jobma_catcher_id',
    right_on='catcher_id',
    suffixes=('', '_subscription')  # or anything meaningful to you
)

In [ ]:
# catcher_login_wallet_subscription_df

In [ ]:
print(catcher_login_wallet_subscription_df.isna().sum())

In [ ]:
catcher_login_wallet_df.info()

In [ ]:
catcher_login_wallet_subscription_df.to_csv("catcher_login_wallet_subscription.csv", index=False)