In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:Jobma009%40@localhost:3306/jobma")

# Extracting Data from database

In [2]:
#For clint details
jobma_catcher_df = pd.read_sql("SELECT * FROM jobma_catcher", engine) #Client details

jobma_login_df = pd.read_sql("SELECT * FROM jobma_login", engine) #Usage details
jobma_wallet_df = pd.read_sql("SELECT * FROM wallet", engine) #How aggresively using + how much #account Wallet info
jobma_subscription_df = pd.read_sql("SELECT * FROM subscription_history", engine) #how frequently using #subscription history
print("Done start")


jobma_catcher_language_df = pd.read_sql("SELECT * FROM jobma_catcher_language", engine) #Account setttings 
ai_video_kit_df = pd.read_sql("SELECT * FROM ai_video_kit", engine) #Features using setttings (How much) #Kits created by employers for AI Live interview
jobma_pitcher_applied_jobs_df = pd.read_sql("SELECT * FROM jobma_pitcher_applied_jobs", engine) #How many jobs he is posting #Pitcher/Candidate details and status.
jobma_pitcher_df = pd.read_sql("SELECT * FROM jobma_pitcher", engine) #How many candidate #Pitcher/Candidate profile details.
print("Done")

jobma_employer_job_posting_df = pd.read_sql("SELECT * FROM jobma_employer_job_posting", engine) #how many positions he has created
jobma_pitcher_invitations_df = pd.read_sql("SELECT * FROM jobma_pitcher_invitations", engine) #Interview 
print("Done")

jobma_interviews_df = pd.read_sql("SELECT * FROM jobma_interviews", engine) #candidate interview response data (just for pre-recorded type)
jobma_interviews_online_df = pd.read_sql("SELECT * FROM jobma_interviews_online", engine) ##candidate interview response data (just for live interview type)
jobma_ai_interviews_df = pd.read_sql("SELECT * FROM jobma_ai_interviews", engine) #candidate interview response data
print("Prefinal Done")


report_df = pd.read_sql("SELECT * FROM report", engine) #different types of saved reports.
shared_report_df = pd.read_sql("SELECT * FROM shared_report", engine) #subscription history #Share with sub-account or with main account.
print("Final Done")

Done start
Done
Done
Prefinal Done
Final Done

# Working on jobma_catcher

In [3]:
jobma_catcher_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7672 entries, 0 to 7671
Data columns (total 75 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   jobma_catcher_id                7672 non-null   int64
 1   jobma_catcher_fname             7672 non-null   object
 2   jobma_catcher_lname             7672 non-null   object
 3   jobma_catcher_dob               1071 non-null   object
 4   jobma_catcher_video_status      2018 non-null   object
 5   jobma_catcher_company           7672 non-null   object
 6   org_type                        7672 non-null   object
 7   sec_ques_id                     7672 non-null   int64
 8   security_ans                    7672 non-null   object
 9   jobma_about_company             7672 non-null   object
 10  jobma_functional                7672 non-null   object
 11  jobma_catcher_indus             6126 non-null   object
 12  jobma_company_email             7672 non-null   object
 13  jobma_catcher_email             7672 non-null   object
 14  jobma_catcher_title             7672 non-null   int64
 15  jobma_catcher_ext               7672 non-null   object
 16  jobma_catcher_otype             7672 non-null   object
 17  jobma_catcher_photo             7672 non-null   object
 18  jobma_catcher_logo              104 non-null    object
 19  jobma_catcher_website           7672 non-null   object
 20  jobma_company_address           7672 non-null   object
 21  jobma_catcher_address2          972 non-null    object
 22  jobma_catcher_video             7672 non-null   object
 23  jobma_catcher_city              7672 non-null   int64
 24  jobma_catcher_state             7672 non-null   int64
 25  jobma_catcher_country           7672 non-null   int64
 26  jobma_catcher_zip               7672 non-null   object
 27  jobma_catcher_fax               6308 non-null   object
 28  jobma_catcher_phone             7672 non-null   object
 29  jobma_catcher_status            7649 non-null   object
 30  jobma_catcher_creation          7672 non-null   object
 31  jobma_catcher_type              5425 non-null   object
 32  jobma_catcher_sub_accounts      7672 non-null   object
 33  is_premium                      7672 non-null   object
 34  jobma_catcher_parent            7672 non-null   int64
 35  jobma_catcher_is_deleted        257 non-null    object
 36  jobma_verified                  7672 non-null   object
 37  jobma_in_index                  7354 non-null   object
 38  data_access                     7672 non-null   object
 39  subscription_status             7672 non-null   object
 40  interview_rate                  7672 non-null   float64
 41  remember_token                  7672 non-null   object
 42  deleted_at                      459 non-null    datetime64[ns]
 43  api_key                         7672 non-null   object
 44  sub_user                        7672 non-null   int64
 45  per_sub_user                    7672 non-null   object
 46  live_interview_credit           7672 non-null   float64
 47  pre_recorded_credit             7672 non-null   float64
 48  ai_live_interview_credit        7672 non-null   float64
 49  credit_value                    7672 non-null   int64
 50  interview_cost_type             7672 non-null   object
 51  subscription_type               7672 non-null   object
 52  phone_call_cost_type            7672 non-null   object
 53  call_and_regording_credits      82 non-null     float64
 54  transcription_credits           82 non-null     float64
 55  temp_subscription_type          7672 non-null   object
 56  created_at                      7672 non-null   datetime64[ns]
 57  updated_at                      7672 non-null   datetime64[ns]
 58  jobma_support_rtc               7672 non-null   object
 59  interview_question              7672 non-null   int64
 60  video_recording_suppport        7672 non-null   object
 61  subaccount_permission           7670 non-null   object
 62  reply_email                     1 non-null      object
 63  sing_up_canditate_after_apply   7672 non-null   object
 64  currency                        7672 non-null   object
 65  referral_credit                 7672 non-null   int64
 66  company_size                    5934 non-null   object
 67  theme                           7672 non-null   object
 68  flag                            7672 non-null   object
 69  jobma_auto_recording_status     7672 non-null   object
 70  jobma_scenario_question_status  7672 non-null   object
 71  ai_live_interview               7672 non-null   object
 72  ms_teams_chat_reference         1 non-null      object
 73  bot_audio                       7672 non-null   int64
 74  approval                        7672 non-null   object
dtypes: datetime64[ns](3), float64(6), int64(12), object(54)
memory usage: 4.4+ MB

In [4]:
jobma_catcher_df.columns

Index(['jobma_catcher_id', 'jobma_catcher_fname', 'jobma_catcher_lname',
       'jobma_catcher_dob', 'jobma_catcher_video_status',
       'jobma_catcher_company', 'org_type', 'sec_ques_id', 'security_ans',
       'jobma_about_company', 'jobma_functional', 'jobma_catcher_indus',
       'jobma_company_email', 'jobma_catcher_email', 'jobma_catcher_title',
       'jobma_catcher_ext', 'jobma_catcher_otype', 'jobma_catcher_photo',
       'jobma_catcher_logo', 'jobma_catcher_website', 'jobma_company_address',
       'jobma_catcher_address2', 'jobma_catcher_video', 'jobma_catcher_city',
       'jobma_catcher_state', 'jobma_catcher_country', 'jobma_catcher_zip',
       'jobma_catcher_fax', 'jobma_catcher_phone', 'jobma_catcher_status',
       'jobma_catcher_creation', 'jobma_catcher_type',
       'jobma_catcher_sub_accounts', 'is_premium', 'jobma_catcher_parent',
       'jobma_catcher_is_deleted', 'jobma_verified', 'jobma_in_index',
       'data_access', 'subscription_status', 'interview_rate',
       'remember_token', 'deleted_at', 'api_key', 'sub_user', 'per_sub_user',
       'live_interview_credit', 'pre_recorded_credit',
       'ai_live_interview_credit', 'credit_value', 'interview_cost_type',
       'subscription_type', 'phone_call_cost_type',
       'call_and_regording_credits', 'transcription_credits',
       'temp_subscription_type', 'created_at', 'updated_at',
       'jobma_support_rtc', 'interview_question', 'video_recording_suppport',
       'subaccount_permission', 'reply_email', 'sing_up_canditate_after_apply',
       'currency', 'referral_credit', 'company_size', 'theme', 'flag',
       'jobma_auto_recording_status', 'jobma_scenario_question_status',
       'ai_live_interview', 'ms_teams_chat_reference', 'bot_audio',
       'approval'],
      dtype='object')

In [5]:
selected_columns = ['jobma_catcher_id',
                    'jobma_functional',
                    'jobma_catcher_indus',
                    'jobma_catcher_status',
                    'jobma_catcher_creation',
                    'jobma_catcher_type',
                    'jobma_catcher_sub_accounts',
                    'is_premium','jobma_catcher_parent',
                    'jobma_catcher_is_deleted',
                    'jobma_verified',
                    'subscription_status',
                    'interview_rate',
                    'deleted_at',
                    'sub_user',
                    'per_sub_user',
                    'subscription_type',
                    'created_at',
                    'updated_at',
                    'company_size']
catcher_selected_df = jobma_catcher_df[selected_columns].copy()

In [6]:
catcher_selected_df

,jobma_catcher_id,jobma_functional,jobma_catcher_indus,jobma_catcher_status,jobma_catcher_creation,jobma_catcher_type,jobma_catcher_sub_accounts,is_premium,jobma_catcher_parent,jobma_catcher_is_deleted,jobma_verified,subscription_status,interview_rate,deleted_at,sub_user,per_sub_user,subscription_type,created_at,updated_at,company_size
0,1,,None,0,2023-06-21,None,0,0,8464,None,1,1,0.0,NaT,0,100,0,2023-06-21 10:20:56,2025-02-21 17:42:43,1-25
1,92,,,1,2016-11-22,1,,1,0,0,1,2,0.0,NaT,999,100,0,2021-07-09 12:42:05,2024-05-13 04:58:44,None
2,96,IT Application Programming / Maintenance,IT-Software/Software Services,1,2016-01-20,0,,0,709,None,1,1,0.0,NaT,0,100,0,2016-11-10 20:02:24,2025-02-21 17:42:43,None
3,106,IT Software- ERP / CRM,IT-Software/Software Services,-1,2012-12-08,0,,1,0,1,1,2,0.0,NaT,999,100,0,2016-09-26 16:01:16,2024-05-13 04:58:44,None
4,117,Human Resources,"Computer (Hardware, Software, & IT)",1,2013-09-17,0,,0,92,1,1,1,0.0,NaT,0,100,0,2016-09-26 16:01:16,2023-08-28 12:15:24,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7667,9437,,None,0,2025-03-11,None,0,0,8565,None,1,1,0.0,NaT,0,100,0,2025-03-11 08:43:16,2025-03-18 11:03:54,1-25
7668,9439,,None,0,2025-03-11,None,0,0,8565,None,1,1,0.0,NaT,0,100,0,2025-03-11 08:45:05,2025-03-12 04:18:03,1-25
7669,9441,,None,0,2025-03-11,None,0,0,8565,None,1,1,0.0,NaT,0,100,0,2025-03-11 09:34:10,2025-03-18 11:03:57,1-25
7670,9443,,None,0,2025-03-12,None,0,0,1873,None,1,1,0.0,NaT,0,100,0,2025-03-12 06:28:33,2025-04-02 12:06:57,500-1000
7671,9445,,74,1,0000-00-00,1,,0,0,None,1,1,0.0,NaT,10,100,0,2025-03-28 05:15:12,2025-03-28 05:15:12,1-25

# Now Jobma_login_df

In [7]:
jobma_login_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39321 entries, 0 to 39320
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   jobma_login_id       39321 non-null  int64
 1   jobma_user_name      39321 non-null  object
 2   jobma_password       39321 non-null  object
 3   jobma_role_id        39321 non-null  int64
 4   jobma_user_id        39321 non-null  int64
 5   jobma_last_login     37785 non-null  object
 6   jobma_created_by     7854 non-null   object
 7   confirmed            39321 non-null  int64
 8   confirmation_code    39321 non-null  object
 9   jobma_login_status   7924 non-null   object
 10  jobma_login_ip       39321 non-null  object
 11  forget_password      245 non-null    object
 12  remember_token       39321 non-null  object
 13  jobma_social_login   39321 non-null  int64
 14  password_changed_at  39321 non-null  datetime64[ns]
 15  deleted_at           84 non-null     datetime64[ns]
 16  created_at           39321 non-null  object
 17  updated_at           39321 non-null  object
 18  google2fa_secret     0 non-null      object
 19  two_factor_status    39321 non-null  object
 20  two_factor_type      39321 non-null  object
dtypes: datetime64[ns](2), int64(5), object(14)
memory usage: 6.3+ MB

In [8]:
jobma_login_df

,jobma_login_id,jobma_user_name,jobma_password,jobma_role_id,jobma_user_id,jobma_last_login,jobma_created_by,confirmed,confirmation_code,jobma_login_status,...,forget_password,remember_token,jobma_social_login,password_changed_at,deleted_at,created_at,updated_at,google2fa_secret,two_factor_status,two_factor_type
0,1,existinguser@example.com,hashedpassword,4,1001,None,None,1,1,0,...,1,,0,2020-10-30 03:57:14,NaT,2024-09-26 16:21:36,2024-09-26 16:21:36,None,0,0
1,240,superadmin@mailinator.com,$2y$10$TyEFO2DlIqVuwnpn1yDRUeRjIklsTP6Rkiq09sn...,1,162,2024-10-18 07:38:58,0,1,,1,...,None,N52TQOQ1aR3iA8VVC269FnEFApjJM3M1QqW0BOquGr6cIH...,0,2020-05-15 11:50:25,NaT,0000-00-00 00:00:00,2024-10-18 07:38:58,None,0,0
2,535,gaurava@selectsourceintl.com,$2y$10$WEnjfOt4vTnq/x50aYNaE.zDrr4F00EB37NnnYC...,5,96,0000-00-00 00:00:00,0,0,,1,...,0,UBzEkXCpiagAdQiZvHDSMxbu0lQZy3cicuRIf5pFXZWknT...,0,2020-05-15 11:50:25,NaT,2016-11-23 20:53:27,2017-05-09 18:06:45,None,0,0
3,642,SMandeep@selectsourceintl.com,$2y$10$Lj1NrtAvq0KSPu4VM4/sAOUaq1UCHYf0zo1xbcF...,5,557,0000-00-00 00:00:00,1,0,,1,...,1,K5qiDGmZ4UhgBtz94isKfNXo3R01Pi4EJx9AwwyXIrBWjE...,0,2020-05-15 11:50:25,NaT,0000-00-00 00:00:00,2018-02-09 01:02:45,None,0,0
4,993,ywangb13@gmail.com,2982087bec56338d021c81e0bac623a0,4,908,0000-00-00 00:00:00,1,1,,1,...,None,,0,2020-05-15 11:50:25,NaT,0000-00-00 00:00:00,0000-00-00 00:00:00,None,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39316,112385,pratikabc9@yopmail.com,$2b$10$VmMPRrRKW61t4mTIWcovr.dguenWGVUEGmYGUOE...,4,1127089,None,None,1,1,0,...,None,,0,2025-03-26 16:55:35,NaT,2025-03-26 11:25:35,2025-03-26 11:25:35,None,0,0
39317,112387,pratikabc10@yopmail.com,$2b$10$6A5AUWsFx86xHxgYH.eFG.FdyuzcdQrmatTv8IP...,4,1127091,None,None,1,1,0,...,None,,0,2025-03-26 16:56:55,NaT,2025-03-26 11:26:56,2025-03-26 11:26:56,None,0,0
39318,112389,ramesh23@yopmail.com,$2b$10$pBYHn72SXg4RULY5rV1L0uhRQOmcueI.g3OZDbm...,4,1127093,2025-03-26 12:57:28,None,1,1,0,...,None,,0,2025-03-26 17:26:35,NaT,2025-03-26 11:56:36,2025-03-26 11:56:36,None,0,0
39319,112391,ramesh21@yopmail.com,$2b$10$tG9Uy9StD4OOPfR7ZeTyR.TLgmrjZSxP5zqWPFp...,4,1127095,None,None,1,1,0,...,None,,0,2025-03-26 18:28:10,NaT,2025-03-26 12:58:10,2025-03-26 12:58:10,None,0,0
39320,112393,Sergebrian@yopmail.com,$2y$10$p9mNtOk4sjZJU7EMIMiqjeesQf5jvUzvVSYgDNQ...,3,9445,0000-00-00 00:00:00,1,1,,0,...,None,,0,2025-03-28 10:45:12,NaT,2025-03-28 05:15:12,2025-03-28 05:15:12,None,0,0

In [9]:
jobma_login_df

,jobma_login_id,jobma_user_name,jobma_password,jobma_role_id,jobma_user_id,jobma_last_login,jobma_created_by,confirmed,confirmation_code,jobma_login_status,...,forget_password,remember_token,jobma_social_login,password_changed_at,deleted_at,created_at,updated_at,google2fa_secret,two_factor_status,two_factor_type
0,1,existinguser@example.com,hashedpassword,4,1001,None,None,1,1,0,...,1,,0,2020-10-30 03:57:14,NaT,2024-09-26 16:21:36,2024-09-26 16:21:36,None,0,0
1,240,superadmin@mailinator.com,$2y$10$TyEFO2DlIqVuwnpn1yDRUeRjIklsTP6Rkiq09sn...,1,162,2024-10-18 07:38:58,0,1,,1,...,None,N52TQOQ1aR3iA8VVC269FnEFApjJM3M1QqW0BOquGr6cIH...,0,2020-05-15 11:50:25,NaT,0000-00-00 00:00:00,2024-10-18 07:38:58,None,0,0
2,535,gaurava@selectsourceintl.com,$2y$10$WEnjfOt4vTnq/x50aYNaE.zDrr4F00EB37NnnYC...,5,96,0000-00-00 00:00:00,0,0,,1,...,0,UBzEkXCpiagAdQiZvHDSMxbu0lQZy3cicuRIf5pFXZWknT...,0,2020-05-15 11:50:25,NaT,2016-11-23 20:53:27,2017-05-09 18:06:45,None,0,0
3,642,SMandeep@selectsourceintl.com,$2y$10$Lj1NrtAvq0KSPu4VM4/sAOUaq1UCHYf0zo1xbcF...,5,557,0000-00-00 00:00:00,1,0,,1,...,1,K5qiDGmZ4UhgBtz94isKfNXo3R01Pi4EJx9AwwyXIrBWjE...,0,2020-05-15 11:50:25,NaT,0000-00-00 00:00:00,2018-02-09 01:02:45,None,0,0
4,993,ywangb13@gmail.com,2982087bec56338d021c81e0bac623a0,4,908,0000-00-00 00:00:00,1,1,,1,...,None,,0,2020-05-15 11:50:25,NaT,0000-00-00 00:00:00,0000-00-00 00:00:00,None,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39316,112385,pratikabc9@yopmail.com,$2b$10$VmMPRrRKW61t4mTIWcovr.dguenWGVUEGmYGUOE...,4,1127089,None,None,1,1,0,...,None,,0,2025-03-26 16:55:35,NaT,2025-03-26 11:25:35,2025-03-26 11:25:35,None,0,0
39317,112387,pratikabc10@yopmail.com,$2b$10$6A5AUWsFx86xHxgYH.eFG.FdyuzcdQrmatTv8IP...,4,1127091,None,None,1,1,0,...,None,,0,2025-03-26 16:56:55,NaT,2025-03-26 11:26:56,2025-03-26 11:26:56,None,0,0
39318,112389,ramesh23@yopmail.com,$2b$10$pBYHn72SXg4RULY5rV1L0uhRQOmcueI.g3OZDbm...,4,1127093,2025-03-26 12:57:28,None,1,1,0,...,None,,0,2025-03-26 17:26:35,NaT,2025-03-26 11:56:36,2025-03-26 11:56:36,None,0,0
39319,112391,ramesh21@yopmail.com,$2b$10$tG9Uy9StD4OOPfR7ZeTyR.TLgmrjZSxP5zqWPFp...,4,1127095,None,None,1,1,0,...,None,,0,2025-03-26 18:28:10,NaT,2025-03-26 12:58:10,2025-03-26 12:58:10,None,0,0
39320,112393,Sergebrian@yopmail.com,$2y$10$p9mNtOk4sjZJU7EMIMiqjeesQf5jvUzvVSYgDNQ...,3,9445,0000-00-00 00:00:00,1,1,,0,...,None,,0,2025-03-28 10:45:12,NaT,2025-03-28 05:15:12,2025-03-28 05:15:12,None,0,0

In [10]:
login_selected_df = jobma_login_df[['jobma_login_id', #id
                                    'jobma_role_id', #id
                                    'jobma_user_id', #id
                                    'jobma_last_login', #last use
                                    'jobma_created_by', 
                                    'confirmed', #0,1
                                    'deleted_at', 
                                    'created_at', 
                                    'updated_at']].copy()

In [11]:
login_selected_df

,jobma_login_id,jobma_role_id,jobma_user_id,jobma_last_login,jobma_created_by,confirmed,deleted_at,created_at,updated_at
0,1,4,1001,None,None,1,NaT,2024-09-26 16:21:36,2024-09-26 16:21:36
1,240,1,162,2024-10-18 07:38:58,0,1,NaT,0000-00-00 00:00:00,2024-10-18 07:38:58
2,535,5,96,0000-00-00 00:00:00,0,0,NaT,2016-11-23 20:53:27,2017-05-09 18:06:45
3,642,5,557,0000-00-00 00:00:00,1,0,NaT,0000-00-00 00:00:00,2018-02-09 01:02:45
4,993,4,908,0000-00-00 00:00:00,1,1,NaT,0000-00-00 00:00:00,0000-00-00 00:00:00
...,...,...,...,...,...,...,...,...,...
39316,112385,4,1127089,None,None,1,NaT,2025-03-26 11:25:35,2025-03-26 11:25:35
39317,112387,4,1127091,None,None,1,NaT,2025-03-26 11:26:56,2025-03-26 11:26:56
39318,112389,4,1127093,2025-03-26 12:57:28,None,1,NaT,2025-03-26 11:56:36,2025-03-26 11:56:36
39319,112391,4,1127095,None,None,1,NaT,2025-03-26 12:58:10,2025-03-26 12:58:10
39320,112393,3,9445,0000-00-00 00:00:00,1,1,NaT,2025-03-28 05:15:12,2025-03-28 05:15:12

In [12]:
login_selected_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39321 entries, 0 to 39320
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   jobma_login_id    39321 non-null  int64
 1   jobma_role_id     39321 non-null  int64
 2   jobma_user_id     39321 non-null  int64
 3   jobma_last_login  37785 non-null  object
 4   jobma_created_by  7854 non-null   object
 5   confirmed         39321 non-null  int64
 6   deleted_at        84 non-null     datetime64[ns]
 7   created_at        39321 non-null  object
 8   updated_at        39321 non-null  object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 2.7+ MB

# Now jobma_wallet_df

In [13]:
jobma_wallet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5562 entries, 0 to 5561
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5562 non-null   int64
 1   catcher_id            5562 non-null   int64
 2   credit_amount         165 non-null    float64
 3   wallet_amount         5562 non-null   float64
 4   subscription_type     5562 non-null   object
 5   plan_type             5562 non-null   object
 6   is_unlimited          5562 non-null   object
 7   premium_storage       5562 non-null   int64
 8   trial_account_type    5161 non-null   float64
 9   gst_code              2781 non-null   object
 10  billing_cycle         2 non-null      object
 11  billing_cycle_status  5562 non-null   object
 12  created_at            5562 non-null   datetime64[ns]
 13  updated_at            5562 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(3), object(6)
memory usage: 608.5+ KB

In [14]:
jobma_wallet_df

,id,catcher_id,credit_amount,wallet_amount,subscription_type,plan_type,is_unlimited,premium_storage,trial_account_type,gst_code,billing_cycle,billing_cycle_status,created_at,updated_at
0,1,669,NaN,0.0,0,0,0,0,NaN,None,None,0,2017-11-03 12:10:27,2017-11-03 12:10:27
1,2,92,NaN,34.0,0,0,0,0,0.0,None,None,0,2017-11-03 12:10:27,2020-02-20 07:10:00
2,3,898,NaN,0.0,0,0,0,0,NaN,None,None,0,2017-11-03 04:36:27,2017-11-03 04:36:27
3,4,912,NaN,0.0,0,0,0,0,NaN,None,None,0,2017-11-03 14:08:57,2017-11-03 14:08:57
4,5,92,NaN,3.0,0,0,0,0,0.0,None,None,0,2017-11-03 14:08:57,2020-02-20 07:10:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5557,5985,9319,NaN,500000.0,0,0,1,0,0.0,None,None,1,2024-06-12 11:14:07,2024-07-02 12:56:06
5558,5987,9365,NaN,137.0,0,0,0,0,0.0,,None,0,2024-07-11 08:05:25,2024-07-17 09:32:21
5559,5989,9405,NaN,500000.0,0,0,1,0,0.0,None,None,0,2024-09-04 05:01:02,2024-09-04 05:01:02
5560,5991,9413,NaN,15000.0,0,0,0,0,0.0,,None,0,2024-09-24 09:18:45,2024-09-24 09:20:17
5561,5993,9445,NaN,150.0,0,0,0,0,0.0,None,None,0,2025-03-28 05:15:12,2025-03-28 05:15:12

In [15]:
jobma_wallet_df.columns

Index(['id', 'catcher_id', 'credit_amount', 'wallet_amount',
       'subscription_type', 'plan_type', 'is_unlimited', 'premium_storage',
       'trial_account_type', 'gst_code', 'billing_cycle',
       'billing_cycle_status', 'created_at', 'updated_at'],
      dtype='object')

In [16]:
wallet_selected_df = jobma_wallet_df[['id', 
                                      'catcher_id',
                                      'credit_amount',#
                                      'wallet_amount', #amounts or balance may be 
                                      'subscription_type', #0,1
                                      'plan_type',#0,1
                                      'is_unlimited',#0, 1
                                      'billing_cycle_status',#0,1 may be koi relation ho plan se ya user type se
                                      'created_at',# there may be many created and updated column
                                      'updated_at'
                                     ]].copy()

In [17]:
wallet_selected_df

,id,catcher_id,credit_amount,wallet_amount,subscription_type,plan_type,is_unlimited,billing_cycle_status,created_at,updated_at
0,1,669,NaN,0.0,0,0,0,0,2017-11-03 12:10:27,2017-11-03 12:10:27
1,2,92,NaN,34.0,0,0,0,0,2017-11-03 12:10:27,2020-02-20 07:10:00
2,3,898,NaN,0.0,0,0,0,0,2017-11-03 04:36:27,2017-11-03 04:36:27
3,4,912,NaN,0.0,0,0,0,0,2017-11-03 14:08:57,2017-11-03 14:08:57
4,5,92,NaN,3.0,0,0,0,0,2017-11-03 14:08:57,2020-02-20 07:10:00
...,...,...,...,...,...,...,...,...,...,...
5557,5985,9319,NaN,500000.0,0,0,1,1,2024-06-12 11:14:07,2024-07-02 12:56:06
5558,5987,9365,NaN,137.0,0,0,0,0,2024-07-11 08:05:25,2024-07-17 09:32:21
5559,5989,9405,NaN,500000.0,0,0,1,0,2024-09-04 05:01:02,2024-09-04 05:01:02
5560,5991,9413,NaN,15000.0,0,0,0,0,2024-09-24 09:18:45,2024-09-24 09:20:17
5561,5993,9445,NaN,150.0,0,0,0,0,2025-03-28 05:15:12,2025-03-28 05:15:12

In [18]:
wallet_selected_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5562 entries, 0 to 5561
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5562 non-null   int64
 1   catcher_id            5562 non-null   int64
 2   credit_amount         165 non-null    float64
 3   wallet_amount         5562 non-null   float64
 4   subscription_type     5562 non-null   object
 5   plan_type             5562 non-null   object
 6   is_unlimited          5562 non-null   object
 7   billing_cycle_status  5562 non-null   object
 8   created_at            5562 non-null   datetime64[ns]
 9   updated_at            5562 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(2), object(4)
memory usage: 434.7+ KB

# Jobma Subscription_df

In [19]:
jobma_subscription_df #Active users and non active uesrs

,id,catcher_id,catcher_username,catcher_email,sub_user_id,subscription_id,premium_plan_id,premium_plan,transaction_id,subscription_amount,...,e_invoice,cheque_number,banker,cheque_amount,cheque_image,cancel_date,invoice_suffix,radioGstValue,created_at,updated_at
0,2,899,,,NaN,1,3.0,"{""subscription_charges"": ""10000"", ""pre_recorde...",2V065953EF212362V,0.0,...,0,None,None,0.0,None,None,0,1,2017-11-03 05:18:44,2023-11-22 12:43:34
1,3,900,,,NaN,1,3.0,"{""subscription_charges"": ""10000"", ""pre_recorde...",9BY60034LB809061M,0.0,...,0,None,None,0.0,None,None,0,1,2017-11-03 07:47:12,2023-12-15 12:59:57
2,4,900,,,NaN,1,3.0,"{""subscription_charges"": ""10000"", ""pre_recorde...",3KH319283K655734K,0.0,...,0,None,None,0.0,None,None,0,1,2017-11-03 07:52:28,2021-06-11 12:41:24
3,5,900,,,NaN,1,3.0,"{""subscription_charges"": ""10000"", ""pre_recorde...",3KH319283K655734K,0.0,...,0,None,None,0.0,None,None,0,1,2017-11-03 07:52:45,2021-06-11 12:41:24
4,6,900,,,NaN,1,3.0,"{""subscription_charges"": ""10000"", ""pre_recorde...",3KH319283K655734K,0.0,...,0,None,None,0.0,None,None,0,1,2017-11-03 07:53:15,2021-06-11 12:41:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11044,11589,7099,Admin,None,NaN,1,7.0,"{""subscription_charges"":""10000"",""email_support...",70991734584191,10000.0,...,1,,,0.0,None,None,3891,1,2024-12-19 04:56:31,2025-01-27 09:20:23
11045,11591,9299,Admin,None,NaN,1,2.0,"{""subscription_charges"":""50"",""email_support"":""...",92991737610906,50.0,...,1,,,0.0,None,None,0,1,2025-01-23 05:41:46,2025-01-23 05:41:46
11046,11593,7099,Admin,None,NaN,1,6.0,"{""subscription_charges"":""25000"",""email_support...",70991737969623,25000.0,...,1,,,0.0,None,None,3892,1,2025-01-27 09:20:23,2025-01-27 09:20:23
11047,11595,8565,Admin,None,NaN,1,3.0,"{""subscription_charges"":""150"",""email_support"":...",85651741263288,5000.0,...,1,,,0.0,None,None,0,1,2025-03-06 12:14:48,2025-03-18 12:04:36
11048,11597,9445,Serge brian,None,NaN,1,3.0,"{""subscription_charges"":""150"",""email_support"":...",79253611633,0.0,...,0,None,None,0.0,None,None,0,1,2025-03-28 05:15:12,2025-03-28 05:15:12

In [20]:
jobma_subscription_df['recurring_data'].value_counts()

recurring_data
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      10855
{"PROFILEID":"QuickJobPost"}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             14
{"PROFILEID":"admin"}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    11
{"mc_gross":"99.00","period_type":" Regular","outstanding_balance":"0.00","next_payment_date":"03:00:00 Nov 03, 2018 PDT","protection_eligibility":"Ineligible","payment_cycle":"Yearly","tax":"0.00","payer_id":"CXEWK7REY68KY","payment_date":"04:52:16 Nov 03, 2017 PDT","payment_status":"Completed","product_name":"Yearly Subscription","charset":"windows-1252","recurring_payment_id":"I-NSBU2J1BW1BA","first_name":"Business","mc_fee":"4.16","notify_version":"3.8","amount_per_cycle":"99.00","payer_status":"verified","currency_code":"USD","business":"pardeep@yopmail.com","verify_sign":"AUgkpI38w6yn-7v9MvPLMNcbhf76AHJRDeD7YDAfx0jKLMpgXQ3ausx4","payer_email":"ab3-business@yopmail.com","initial_payment_amount":"0.00","profile_status":"Active","amount":"99.00","txn_id":"3KH319283K655734K","payment_type":"instant","payer_business_name":"Business  Account's Test Store","last_name":"Account","receiver_email":"pardeep@yopmail.com","payment_fee":"4.16","receiver_id":"TBEJX2WLQPRFN","txn_type":"recurring_payment","mc_currency":"USD","residence_country":"IN","test_ipn":"1","transaction_subject":"Yearly Subscription","payment_gross":"99.00","shipping":"0.00","product_type":"1","time_created":"04:47:09 Nov 03, 2017 PDT","ipn_track_id":"18661e3b70642"}                                        7
{"PROFILEID":"I-NSBU2J1BW1BA","PROFILESTATUS":"ActiveProfile","TIMESTAMP":"2017-11-03T11:47:12Z","CORRELATIONID":"18661e3b70642","ACK":"Success","VERSION":"123","BUILD":"39206242"}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
{"mc_gross":"99.00","period_type":" Regular","outstanding_balance":"0.00","next_payment_date":"02:00:00 Dec 05, 2020 PST","protection_eligibility":"Eligible","payment_cycle":"Yearly","tax":"0.00","payer_id":"NL4K4UTD56MR4","payment_date":"08:24:28 Dec 05, 2019 PST","payment_status":"Completed","product_name":"Yearly Subscription","charset":"windows-1252","recurring_payment_id":"I-3HKWH9H4AB7F","first_name":"Pardeep","mc_fee":"3.17","notify_version":"3.9","amount_per_cycle":"99.00","payer_status":"verified","currency_code":"USD","business":"pardeep@yopmail.com","verify_sign":"AGHZdd9L4z3gul.T2dXc1Fr1yluBAHKTkXsOEYB2ls-4NwBR0DOWj5Rj","payer_email":"pardeep-1@yopmail.com","initial_payment_amount":"0.00","profile_status":"Active","amount":"99.00","txn_id":"93872981TG8271723","payment_type":"instant","payer_business_name":"Pardeep Goyal's Test Store","last_name":"Goyal","receiver_email":"pardeep@yopmail.com","payment_fee":"3.17","receiver_id":"TBEJX2WLQPRFN","txn_type":"recurring_payment","mc_currency":"USD","residence_country":"US","test_ipn":"1","transaction_subject":"Yearly Subscription","payment_gross":"99.00","shipping":"0.00","product_type":"1","time_created":"21:28:32 Dec 04, 2017 PST","ipn_track_id":"affc6ef98a232"}                                                    1
{"mc_gross":"99.00","period_type":" Regular","outstanding_balance":"0.00","next_payment_date":"02:00:00 Jan 16, 2021 PST","protection_eligibility":"Eligible","payment_cycle":"Yearly","tax":"0.00","payer_id":"NL4K4UTD56MR4","payment_date":"12:16:21 Jan 16, 2020 PST","payment_status":"Completed","product_name":"Yearly Subscription","charset":"windows-1252","recurring_payment_id":"I-DK4EVYLXPR2T","first_name":"Pardeep","mc_fee":"3.17","notify_version":"3.9","amount_per_cycle":"99.00","payer_status":"verified","currency_code":"USD","business":"pardeep@yopmail.com","verify_sign":"Al8eZT5A2vfjxOkjm60TdZB-ETTYAF6FVYv1OCBgFAGZE6Xs7IVDjpUd","payer_email":"pardeep-1@yopmail.com","initial_payment_amount":"0.00","profile_status":"Active","amount":"99.00","txn_id":"9402950698623173B","payment_type":"instant","payer_business_name":"Pardeep Goyal's Test Store","last_name":"Goyal","receiver_email":"pardeep@yopmail.com","payment_fee":"3.17","receiver_id":"TBEJX2WLQPRFN","txn_type":"recurring_payment","mc_currency":"USD","residence_country":"US","test_ipn":"1","transaction_subject":"Yearly Subscription","payment_gross":"99.00","shipping":"0.00","product_type":"1","time_created":"23:01:50 Jan 15, 2018 PST","ipn_track_id":"c42369bec1e7e"}                                                    1
{"mc_gross":"99.00","period_type":" Regular","outstanding_balance":"0.00","next_payment_date":"03:00:00 Mar 19, 2021 PDT","protection_eligibility":"Ineligible","payment_cycle":"Yearly","tax":"0.00","payer_id":"SCZJMCSTZC2CL","payment_date":"04:13:42 Mar 19, 2020 PDT","payment_status":"Completed","product_name":"Yearly Subscription","charset":"windows-1252","recurring_payment_id":"I-R3785JWB0GY2","first_name":"Php","mc_fee":"3.17","notify_version":"3.9","amount_per_cycle":"99.00","payer_status":"verified","currency_code":"USD","business":"pardeep@yopmail.com","verify_sign":"AhA5ldNZQQWNMXmU4HmK-tRXVgZVAtKWPTe-IREisAu0bidJJWGsSdXJ","payer_email":"pardeep_goel_01-facilitator-1@yahoo.co.in","initial_payment_amount":"0.00","profile_status":"Active","amount":"99.00","txn_id":"0DX70235VH535801L","payment_type":"instant","payer_business_name":"Php Business facilitator's Test Store","last_name":"Business facilitator","receiver_email":"pardeep@yopmail.com","payment_fee":"3.17","receiver_id":"TBEJX2WLQPRFN","txn_type":"recurring_payment","mc_currency":"USD","residence_country":"US","test_ipn":"1","transaction_subject":"Yearly Subscription","payment_gross":"99.00","shipping":"0.00","product_type":"1","time_created":"21:54:35 Mar 18, 2018 PDT","ipn_track_id":"ea13873acf892"}        1
{"mc_gross":"99.00","period_type":" Regular","outstanding_balance":"0.00","next_payment_date":"03:00:00 Mar 21, 2021 PDT","protection_eligibility":"Ineligible","payment_cycle":"Yearly","tax":"0.00","payer_id":"NL4K4UTD56MR4","payment_date":"10:19:17 Mar 21, 2020 PDT","payment_status":"Completed","product_name":"Yearly Subscription","charset":"windows-1252","recurring_payment_id":"I-XC66MCGYFV23","first_name":"Pardeep","mc_fee":"3.17","notify_version":"3.9","amount_per_cycle":"99.00","payer_status":"verified","currency_code":"USD","business":"pardeep@yopmail.com","verify_sign":"AklqeQFJAqHStCV1BHu1or3wuUrdAzzX6kpjYcVUbFwNJ7xTUs1pNTdh","payer_email":"pardeep-1@yopmail.com","initial_payment_amount":"0.00","profile_status":"Active","amount":"99.00","txn_id":"9H269023TW966171L","payment_type":"instant","payer_business_name":"Pardeep Goyal's Test Store","last_name":"Goyal","receiver_email":"pardeep@yopmail.com","payment_fee":"3.17","receiver_id":"TBEJX2WLQPRFN","txn_type":"recurring_payment","mc_currency":"USD","residence_country":"US","test_ipn":"1","transaction_subject":"Yearly Subscription","payment_gross":"99.00","shipping":"0.00","product_type":"1","time_created":"01:12:59 Mar 21, 2018 PDT","ipn_track_id":"aefef9735ae83"}                                                  1
{"mc_gross":"99.00","period_type":" Regular","outstanding_balance":"0.00","next_payment_date":"03:00:00 Mar 23, 2021 PDT","protection_eligibility":"Ineligible","payment_cycle":"Yearly","tax":"0.00","payer_id":"NL4K4UTD56MR4","payment_date":"12:56:45 Mar 23, 2020 PDT","payment_status":"Completed","product_name":"Yearly Subscription","charset":"windows-1252","recurring_payment_id":"I-SXVW2JR7TE5J","first_name":"Pardeep","mc_fee":"3.17","notify_version":"3.9","amount_per_cycle":"99.00","payer_status":"verified","currency_code":"USD","business":"pardeep@yopmail.com","verify_sign":"AK5MCjkDhloPT9iT6H90KfGbi1T-Ag2oEHwisVVsLTwYTHYmKLogI.OB","payer_email":"pardeep-1@yopmail.com","initial_payment_amount":"0.00","profile_status":"Active","amount":"99.00","txn_id":"4A021545FM1806108","payment_type":"instant","payer_business_name":"Pardeep Goyal's Test Store","last_name":"Goyal","receiver_email":"pardeep@yopmail.com","payment_fee":"3.17","receiver_id":"TBEJX2WLQPRFN","txn_type":"recurring_payment","mc_currency":"USD","residence_country":"US","test_ipn":"1","transaction_subject":"Yearly Subscription","payment_gross":"99.00","shipping":"0.00","product_type":"1","time_created":"21:19:48 Mar 22, 2018 PDT","ipn_track_id":"fdae67295f273"}                                                  1
Name: count, Length: 166, dtype: int64

In [21]:
jobma_subscription_df['recurring_data'].nunique()

166

In [22]:
"""
catcher_id,#Many times in table
'catcher_email', #no use
'sub_user_id' #
"""

"\ncatcher_id,#Many times in table\n'catcher_email', #no use\n'sub_user_id' #\n"

In [23]:
subscription_selected_df = jobma_subscription_df[['id', #starts from 2
                                                  'catcher_id', #duplicated catcher id as has buy many times
                                                  'sub_user_id', #sub users and admins too many with same id
                                                  'subscription_id',#1,2
                                                  'premium_plan_id',#1.0,2.0,3.0,....10.0
                                                  'premium_plan', #category of different different plans
                                                  'subscription_amount',#plan prices------------>May be................??
                                                  'credit_given', #How much credits they got on buying
                                                  'expiry_date',
                                                  'currency', #0,1
                                                  'currency_val',#different values given
                                                  'recurring_data', #Categorial data #Text data
                                                  'status',# iska nahi pta hai
                                                  'payment_status', #
                                                  'created_at',
                                                  'updated_at'
                                                 ]].copy()

In [24]:
subscription_selected_df

,id,catcher_id,sub_user_id,subscription_id,premium_plan_id,premium_plan,subscription_amount,credit_given,expiry_date,currency,currency_val,recurring_data,status,payment_status,created_at,updated_at
0,2,899,NaN,1,3.0,"{""subscription_charges"": ""10000"", ""pre_recorde...",0.0,0,2024-06-18,0,1.0,"{""PROFILEID"":""I-FRTBFYN92LWP"",""PROFILESTATUS"":...",0,0,2017-11-03 05:18:44,2023-11-22 12:43:34
1,3,900,NaN,1,3.0,"{""subscription_charges"": ""10000"", ""pre_recorde...",0.0,0,2023-05-22,0,1.0,"{""PROFILEID"":""I-NSBU2J1BW1BA"",""PROFILESTATUS"":...",0,0,2017-11-03 07:47:12,2023-12-15 12:59:57
2,4,900,NaN,1,3.0,"{""subscription_charges"": ""10000"", ""pre_recorde...",0.0,0,2023-05-22,0,1.0,"{""mc_gross"":""99.00"",""period_type"":"" Regular"",""...",0,0,2017-11-03 07:52:28,2021-06-11 12:41:24
3,5,900,NaN,1,3.0,"{""subscription_charges"": ""10000"", ""pre_recorde...",0.0,0,2023-05-22,0,1.0,"{""mc_gross"":""99.00"",""period_type"":"" Regular"",""...",0,0,2017-11-03 07:52:45,2021-06-11 12:41:24
4,6,900,NaN,1,3.0,"{""subscription_charges"": ""10000"", ""pre_recorde...",0.0,0,2023-05-22,0,1.0,"{""mc_gross"":""99.00"",""period_type"":"" Regular"",""...",0,0,2017-11-03 07:53:15,2021-06-11 12:41:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11044,11589,7099,NaN,1,7.0,"{""subscription_charges"":""10000"",""email_support...",10000.0,0,2024-12-31,1,1.0,,0,1,2024-12-19 04:56:31,2025-01-27 09:20:23
11045,11591,9299,NaN,1,2.0,"{""subscription_charges"":""50"",""email_support"":""...",50.0,0,2025-01-24,0,1.0,,1,1,2025-01-23 05:41:46,2025-01-23 05:41:46
11046,11593,7099,NaN,1,6.0,"{""subscription_charges"":""25000"",""email_support...",25000.0,150,2027-01-31,1,1.0,,1,1,2025-01-27 09:20:23,2025-01-27 09:20:23
11047,11595,8565,NaN,1,3.0,"{""subscription_charges"":""150"",""email_support"":...",5000.0,0,2035-12-31,0,1.0,,1,1,2025-03-06 12:14:48,2025-03-18 12:04:36
11048,11597,9445,NaN,1,3.0,"{""subscription_charges"":""150"",""email_support"":...",0.0,150,2035-03-31,0,0.0,,1,1,2025-03-28 05:15:12,2025-03-28 05:15:12

In [25]:
subscription_selected_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11049 entries, 0 to 11048
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   11049 non-null  int64
 1   catcher_id           11049 non-null  int64
 2   sub_user_id          967 non-null    float64
 3   subscription_id      11049 non-null  int64
 4   premium_plan_id      10927 non-null  float64
 5   premium_plan         10929 non-null  object
 6   subscription_amount  11049 non-null  float64
 7   credit_given         11049 non-null  int64
 8   expiry_date          11049 non-null  object
 9   currency             11049 non-null  object
 10  currency_val         11049 non-null  float64
 11  recurring_data       11049 non-null  object
 12  status               11049 non-null  object
 13  payment_status       11049 non-null  object
 14  created_at           11049 non-null  datetime64[ns]
 15  updated_at           11049 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(4), int64(4), object(6)
memory usage: 1.3+ MB

In [26]:
subscription_selected_df.isnull().sum()

id                         0
catcher_id                 0
sub_user_id            10082
subscription_id            0
premium_plan_id          122
premium_plan             120
subscription_amount        0
credit_given               0
expiry_date                0
currency                   0
currency_val               0
recurring_data             0
status                     0
payment_status             0
created_at                 0
updated_at                 0
dtype: int64

# jobma_catcher_language_df----------------------------------------------------------------------------------

In [27]:
jobma_catcher_language_df

,id,catcher_id,lang_value,emp_date_format,interview_reminder,interview_privacy_text,interview_instruction,practice_question_enable,practice_question,background_image,...,custom_background,theme,interview_expiry_days,sms_messages,prerecorded_sms,live_sms,share_evaluation,ai_video_accent,created_at,updated_at
0,1,1839,en,m/d/Y,1,None,None,1,"{""question"": [{""qtype"": 1, ""is_enable"": 1, ""qu...",1618476941.png,...,None,0,None,"{""live"": null, ""on_hold"": ""Your application fo...",None,None,7,None,2020-06-12 06:59:35,2024-05-29 12:52:30
1,2,2169,en,d/m/Y,1,None,None,1,"{""question"": [{""qtype"": 1, ""is_enable"": 1, ""qu...",None,...,None,0,None,"{""live"": null, ""on_hold"": ""Your application fo...",None,None,7,None,2020-06-16 08:54:57,2024-04-08 09:33:09
2,4,2334,en,m/d/Y,2,None,None,1,"{""question"":[{""qtype"":1,""is_enable"":1,""ques_ti...",None,...,None,0,None,"{""live"": null, ""on_hold"": ""Your application fo...",None,None,7,None,2020-06-17 00:35:04,2024-04-08 09:33:09
3,7,2335,en,Y/m/d,5,None,None,1,"{""question"": [{""qtype"": 1, ""is_enable"": 1, ""qu...",None,...,None,0,None,"{""live"": null, ""on_hold"": ""Your application fo...",None,None,7,None,2020-06-18 07:48:39,2024-04-08 09:33:09
4,8,2984,en,m/d/Y,2,None,None,1,"{""question"": [{""qtype"": 1, ""is_enable"": 1, ""qu...",None,...,None,0,None,"{""live"": null, ""on_hold"": ""Your application fo...",None,None,7,None,2020-06-22 07:49:13,2024-04-08 09:33:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,673,8873,,None,0,None,None,1,"{""question"": [{""qtype"": 1, ""is_enable"": 1, ""qu...",None,...,None,0,None,null,None,None,None,None,2024-10-23 12:43:42,2024-10-23 12:43:42
301,679,8897,None,m/d/Y,0,None,None,1,"{""question"": [{""qtype"": 1, ""is_enable"": 1, ""qu...",None,...,None,0,None,null,None,None,7,None,2025-01-16 06:13:54,2025-01-16 07:00:39
302,683,8565,,d/m/Y,0,None,None,1,"{""question"":[{""qtype"":1,""is_enable"":1,""ques_ti...",None,...,"{""1"": ""/storage/8565/customBackground/20250304...",0,None,null,None,None,7,None,2024-10-24 10:43:03,2025-04-01 09:39:51
303,685,9445,None,m/d/Y,0,None,None,1,"{\r\n ""question"": [\r\n {\r\n ...",None,...,None,0,None,"{""live"": ""You are invited for the Live intervi...",None,None,7,None,2025-03-28 10:45:12,2025-03-28 10:45:12
304,687,8893,None,m/d/Y,0,None,None,1,"{""question"": [{""qtype"": 1, ""is_enable"": 1, ""qu...",None,...,None,0,None,null,None,None,7,None,2025-04-01 05:11:04,2025-04-01 05:11:04

In [28]:
jobma_catcher_language_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 41 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              305 non-null    int64
 1   catcher_id                      305 non-null    int64
 2   lang_value                      285 non-null    object
 3   emp_date_format                 99 non-null     object
 4   interview_reminder              305 non-null    int64
 5   interview_privacy_text          27 non-null     object
 6   interview_instruction           29 non-null     object
 7   practice_question_enable        305 non-null    object
 8   practice_question               304 non-null    object
 9   background_image                5 non-null      object
 10  addons_transcription            305 non-null    object
 11  addons_notification             305 non-null    object
 12  ats_email_notification          305 non-null    object
 13  ats_email_id                    115 non-null    object
 14  prerecorded_email_id            151 non-null    object
 15  prerecorded_email_notification  305 non-null    object
 16  live_schedule_notification      305 non-null    object
 17  ai_live_email_notification      305 non-null    object
 18  ai_live_email_id                3 non-null      object
 19  invite_guests                   305 non-null    object
 20  invite_hosts                    305 non-null    object
 21  two_factor_authentication       305 non-null    object
 22  ai_scoring                      305 non-null    object
 23  interview_setting               14 non-null     object
 24  interview_configuration         13 non-null     object
 25  redirect_url                    10 non-null     object
 26  timezone                        305 non-null    object
 27  live_interview_source           305 non-null    int64
 28  auto_recording                  305 non-null    object
 29  scenario_question               305 non-null    object
 30  share_evaluation_pre_post       305 non-null    object
 31  custom_background               8 non-null      object
 32  theme                           305 non-null    object
 33  interview_expiry_days           24 non-null     object
 34  sms_messages                    305 non-null    object
 35  prerecorded_sms                 5 non-null      object
 36  live_sms                        5 non-null      object
 37  share_evaluation                304 non-null    object
 38  ai_video_accent                 2 non-null      object
 39  created_at                      305 non-null    datetime64[ns]
 40  updated_at                      305 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(4), object(35)
memory usage: 97.8+ KB

In [29]:
jobma_catcher_language_selected_df=jobma_catcher_language_df[['id', 
                                                              'catcher_id',
                                                              #'lang_value', #eng,per,etc, not much useful
                                                              #'emp_date_format',
                                                              'interview_reminder', #intervieww reminder times how many times he invited
                                                              #'interview_privacy_text',
                                                              #'interview_instruction',
                                                              #'practice_question_enable',  # enable right now 
                                                              #'practice_question',   #Has 37 unique questionset or questions
                                                              #'background_image',
                                                              #'addons_transcription',
                                                              'interview_reminder',
                                                              'share_evaluation']].copy()

In [30]:
jobma_catcher_language_df['addons_transcription'].value_counts()

addons_transcription
0    298
1      7
Name: count, dtype: int64

In [31]:
jobma_catcher_language_df.iloc[:, 9:20].head(4)

,background_image,addons_transcription,addons_notification,ats_email_notification,ats_email_id,prerecorded_email_id,prerecorded_email_notification,live_schedule_notification,ai_live_email_notification,ai_live_email_id,invite_guests
0,1618476941.png,0,1,1,,"{ ""emails"":[""manish94@yopmail.com""]}",1,0,0,None,0
1,None,0,1,1,,"{ ""emails"":[""nikssi@yopmail.com""]}",1,0,0,None,0
2,None,0,0,1,,"{ ""emails"":[""ats.demo23@gmail.com""]}",1,0,0,None,0
3,None,0,0,0,None,"{""emails"":[""juhi@mailinator.com"",""very@yopmail...",1,0,0,None,0

In [32]:
jobma_catcher_language_df ##Account settings

,id,catcher_id,lang_value,emp_date_format,interview_reminder,interview_privacy_text,interview_instruction,practice_question_enable,practice_question,background_image,...,custom_background,theme,interview_expiry_days,sms_messages,prerecorded_sms,live_sms,share_evaluation,ai_video_accent,created_at,updated_at
0,1,1839,en,m/d/Y,1,None,None,1,"{""question"": [{""qtype"": 1, ""is_enable"": 1, ""qu...",1618476941.png,...,None,0,None,"{""live"": null, ""on_hold"": ""Your application fo...",None,None,7,None,2020-06-12 06:59:35,2024-05-29 12:52:30
1,2,2169,en,d/m/Y,1,None,None,1,"{""question"": [{""qtype"": 1, ""is_enable"": 1, ""qu...",None,...,None,0,None,"{""live"": null, ""on_hold"": ""Your application fo...",None,None,7,None,2020-06-16 08:54:57,2024-04-08 09:33:09
2,4,2334,en,m/d/Y,2,None,None,1,"{""question"":[{""qtype"":1,""is_enable"":1,""ques_ti...",None,...,None,0,None,"{""live"": null, ""on_hold"": ""Your application fo...",None,None,7,None,2020-06-17 00:35:04,2024-04-08 09:33:09
3,7,2335,en,Y/m/d,5,None,None,1,"{""question"": [{""qtype"": 1, ""is_enable"": 1, ""qu...",None,...,None,0,None,"{""live"": null, ""on_hold"": ""Your application fo...",None,None,7,None,2020-06-18 07:48:39,2024-04-08 09:33:09
4,8,2984,en,m/d/Y,2,None,None,1,"{""question"": [{""qtype"": 1, ""is_enable"": 1, ""qu...",None,...,None,0,None,"{""live"": null, ""on_hold"": ""Your application fo...",None,None,7,None,2020-06-22 07:49:13,2024-04-08 09:33:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,673,8873,,None,0,None,None,1,"{""question"": [{""qtype"": 1, ""is_enable"": 1, ""qu...",None,...,None,0,None,null,None,None,None,None,2024-10-23 12:43:42,2024-10-23 12:43:42
301,679,8897,None,m/d/Y,0,None,None,1,"{""question"": [{""qtype"": 1, ""is_enable"": 1, ""qu...",None,...,None,0,None,null,None,None,7,None,2025-01-16 06:13:54,2025-01-16 07:00:39
302,683,8565,,d/m/Y,0,None,None,1,"{""question"":[{""qtype"":1,""is_enable"":1,""ques_ti...",None,...,"{""1"": ""/storage/8565/customBackground/20250304...",0,None,null,None,None,7,None,2024-10-24 10:43:03,2025-04-01 09:39:51
303,685,9445,None,m/d/Y,0,None,None,1,"{\r\n ""question"": [\r\n {\r\n ...",None,...,None,0,None,"{""live"": ""You are invited for the Live intervi...",None,None,7,None,2025-03-28 10:45:12,2025-03-28 10:45:12
304,687,8893,None,m/d/Y,0,None,None,1,"{""question"": [{""qtype"": 1, ""is_enable"": 1, ""qu...",None,...,None,0,None,null,None,None,7,None,2025-04-01 05:11:04,2025-04-01 05:11:04