In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [2]:
#create_engine() #sqlalchemy initialize connection to database.
#mysql+pymysql #used to access sql database using pymysql database
engine = create_engine("mysql+pymysql://root:Jobma009%40@localhost:3306/jobma")

In [3]:
df = pd.read_sql("SELECT * FROM jobma_catcher", engine) #Catcher/ Client details

In [4]:
df

,jobma_catcher_id,jobma_catcher_fname,jobma_catcher_lname,jobma_catcher_dob,jobma_catcher_video_status,jobma_catcher_company,org_type,sec_ques_id,security_ans,jobma_about_company,...,referral_credit,company_size,theme,flag,jobma_auto_recording_status,jobma_scenario_question_status,ai_live_interview,ms_teams_chat_reference,bot_audio,approval
0,1,jayant,,None,None,Jobma,1,0,,,...,0,1-25,0,0,0,0,0,None,1,0
1,92,,,2016-11-22,1,Select Source International,,1,,Select Source International is a Global Soluti...,...,0,None,0,0,0,0,0,None,1,0
2,96,Gaurav,Arora,2016-11-01,1,Select Source International,employer,0,,Select Source International is a Global Soluti...,...,0,None,0,0,0,0,0,None,1,0
3,106,,,2016-09-26,1,Singhal System Solutions Pvt. Ltd.,employer,0,,IT Company,...,0,None,0,0,0,0,0,None,1,0
4,117,Krishna,Kant,2016-09-26,1,Select Source International,employer,0,,Select Source International is a Global Soluti...,...,0,None,0,0,0,0,0,None,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7667,9437,new own data account check,,None,None,JOBMA,1,0,,Description from settings new company descript...,...,0,1-25,0,0,0,0,0,None,1,0
7668,9439,new account to check evaluate,,None,None,JOBMA,1,0,,Description from settings new company descript...,...,0,1-25,0,0,0,0,0,None,1,0
7669,9441,new account to check changed session,,None,None,JOBMA,1,0,,Description from settings new company descript...,...,0,1-25,0,0,0,0,0,None,1,0
7670,9443,nayan,,None,None,Jobma,,0,,What is Lorem Ipsum?\r\nLorem Ipsum is simply ...,...,0,500-1000,0,0,0,0,0,None,1,0
7671,9445,Serge brian,,None,None,Jobma,1,0,,,...,0,1-25,0,0,0,0,0,None,1,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7672 entries, 0 to 7671
Data columns (total 75 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   jobma_catcher_id                7672 non-null   int64
 1   jobma_catcher_fname             7672 non-null   object
 2   jobma_catcher_lname             7672 non-null   object
 3   jobma_catcher_dob               1071 non-null   object
 4   jobma_catcher_video_status      2018 non-null   object
 5   jobma_catcher_company           7672 non-null   object
 6   org_type                        7672 non-null   object
 7   sec_ques_id                     7672 non-null   int64
 8   security_ans                    7672 non-null   object
 9   jobma_about_company             7672 non-null   object
 10  jobma_functional                7672 non-null   object
 11  jobma_catcher_indus             6126 non-null   object
 12  jobma_company_email             7672 non-null   object
 13  jobma_catcher_email             7672 non-null   object
 14  jobma_catcher_title             7672 non-null   int64
 15  jobma_catcher_ext               7672 non-null   object
 16  jobma_catcher_otype             7672 non-null   object
 17  jobma_catcher_photo             7672 non-null   object
 18  jobma_catcher_logo              104 non-null    object
 19  jobma_catcher_website           7672 non-null   object
 20  jobma_company_address           7672 non-null   object
 21  jobma_catcher_address2          972 non-null    object
 22  jobma_catcher_video             7672 non-null   object
 23  jobma_catcher_city              7672 non-null   int64
 24  jobma_catcher_state             7672 non-null   int64
 25  jobma_catcher_country           7672 non-null   int64
 26  jobma_catcher_zip               7672 non-null   object
 27  jobma_catcher_fax               6308 non-null   object
 28  jobma_catcher_phone             7672 non-null   object
 29  jobma_catcher_status            7649 non-null   object
 30  jobma_catcher_creation          7672 non-null   object
 31  jobma_catcher_type              5425 non-null   object
 32  jobma_catcher_sub_accounts      7672 non-null   object
 33  is_premium                      7672 non-null   object
 34  jobma_catcher_parent            7672 non-null   int64
 35  jobma_catcher_is_deleted        257 non-null    object
 36  jobma_verified                  7672 non-null   object
 37  jobma_in_index                  7354 non-null   object
 38  data_access                     7672 non-null   object
 39  subscription_status             7672 non-null   object
 40  interview_rate                  7672 non-null   float64
 41  remember_token                  7672 non-null   object
 42  deleted_at                      459 non-null    datetime64[ns]
 43  api_key                         7672 non-null   object
 44  sub_user                        7672 non-null   int64
 45  per_sub_user                    7672 non-null   object
 46  live_interview_credit           7672 non-null   float64
 47  pre_recorded_credit             7672 non-null   float64
 48  ai_live_interview_credit        7672 non-null   float64
 49  credit_value                    7672 non-null   int64
 50  interview_cost_type             7672 non-null   object
 51  subscription_type               7672 non-null   object
 52  phone_call_cost_type            7672 non-null   object
 53  call_and_regording_credits      82 non-null     float64
 54  transcription_credits           82 non-null     float64
 55  temp_subscription_type          7672 non-null   object
 56  created_at                      7672 non-null   datetime64[ns]
 57  updated_at                      7672 non-null   datetime64[ns]
 58  jobma_support_rtc               7672 non-null   object
 59  interview_question              7672 non-null   int64
 60  video_recording_suppport        7672 non-null   object
 61  subaccount_permission           7670 non-null   object
 62  reply_email                     1 non-null      object
 63  sing_up_canditate_after_apply   7672 non-null   object
 64  currency                        7672 non-null   object
 65  referral_credit                 7672 non-null   int64
 66  company_size                    5934 non-null   object
 67  theme                           7672 non-null   object
 68  flag                            7672 non-null   object
 69  jobma_auto_recording_status     7672 non-null   object
 70  jobma_scenario_question_status  7672 non-null   object
 71  ai_live_interview               7672 non-null   object
 72  ms_teams_chat_reference         1 non-null      object
 73  bot_audio                       7672 non-null   int64
 74  approval                        7672 non-null   object
dtypes: datetime64[ns](3), float64(6), int64(12), object(54)
memory usage: 4.4+ MB

In [6]:
df.iloc[:, 4:15]

,jobma_catcher_video_status,jobma_catcher_company,org_type,sec_ques_id,security_ans,jobma_about_company,jobma_functional,jobma_catcher_indus,jobma_company_email,jobma_catcher_email,jobma_catcher_title
0,None,Jobma,1,0,,,,None,jayant_kks@yopmail.com,jayant_kks@yopmail.com,0
1,1,Select Source International,,1,,Select Source International is a Global Soluti...,,,jobs@selectsourceintl.com,jobs@selectsourceintl.com,0
2,1,Select Source International,employer,0,,Select Source International is a Global Soluti...,IT Application Programming / Maintenance,IT-Software/Software Services,gaurava@selectsourceintl.com,gaurava@selectsourceintl.com,0
3,1,Singhal System Solutions Pvt. Ltd.,employer,0,,IT Company,IT Software- ERP / CRM,IT-Software/Software Services,hr@3spl.in,hr@3spl.in,0
4,1,Select Source International,employer,0,,Select Source International is a Global Soluti...,Human Resources,"Computer (Hardware, Software, & IT)",jobs@selectsourceintl.com,krishnak@dtawave.com,0
...,...,...,...,...,...,...,...,...,...,...,...
7667,None,JOBMA,1,0,,Description from settings new company descript...,,None,ownDataNew12312@jobma.com,ownDataNew12312@jobma.com,0
7668,None,JOBMA,1,0,,Description from settings new company descript...,,None,checkEvaluate12312@jobma.com,checkEvaluate12312@jobma.com,0
7669,None,JOBMA,1,0,,Description from settings new company descript...,,None,sessionChange312312@jobma.com,sessionChange312312@jobma.com,0
7670,None,Jobma,,0,,What is Lorem Ipsum?\r\nLorem Ipsum is simply ...,,None,nayan23@mailinator.com,nayan23@mailinator.com,0
7671,None,Jobma,1,0,,,,74,,Sergebrian@yopmail.com,1

In [7]:
df.to_csv('jobma_catcher.csv', index=False)

In [8]:
# Dropping the columns who is not familier or having large null values
df.drop(['jobma_catcher_fname',
         'jobma_catcher_lname',
         'jobma_catcher_dob',
         'jobma_catcher_video_status', #mostly null
         'jobma_catcher_ext', #mostly null
         'jobma_catcher_indus',#Rnadom Values[2,3,4,72,72etc]
         'security_ans',     #no use 
         'jobma_about_company', #mostly about SSI 6732
         'jobma_functional', #mostly nulll accounting, other, it, consulting, recruitment, sales
         'jobma_company_email',
         'jobma_catcher_email',
         'jobma_catcher_title',
         'jobma_catcher_ext',
         'jobma_catcher_photo',
         'jobma_catcher_logo',
         'jobma_catcher_website',
         'jobma_catcher_video',
         'jobma_catcher_fax',
         'jobma_catcher_phone',
         'ms_teams_chat_reference',
         'jobma_catcher_address2',
         'reply_email',
         'remember_token',
         'call_and_regording_credits',
         'transcription_credits' #can be used but currently most are null
        ], axis=1, inplace=True)

In [9]:
df['jobma_catcher_sub_accounts'].value_counts()

jobma_catcher_sub_accounts
      5551
0     2119
49       1
7        1
Name: count, dtype: int64

In [10]:
df.isnull().sum()

jobma_catcher_id                     0
jobma_catcher_company                0
org_type                             0
sec_ques_id                          0
jobma_catcher_otype                  0
jobma_company_address                0
jobma_catcher_city                   0
jobma_catcher_state                  0
jobma_catcher_country                0
jobma_catcher_zip                    0
jobma_catcher_status                23
jobma_catcher_creation               0
jobma_catcher_type                2247
jobma_catcher_sub_accounts           0
is_premium                           0
jobma_catcher_parent                 0
jobma_catcher_is_deleted          7415
jobma_verified                       0
jobma_in_index                     318
data_access                          0
subscription_status                  0
interview_rate                       0
deleted_at                        7213
api_key                              0
sub_user                             0
per_sub_user                         0
live_interview_credit                0
pre_recorded_credit                  0
ai_live_interview_credit             0
credit_value                         0
interview_cost_type                  0
subscription_type                    0
phone_call_cost_type                 0
temp_subscription_type               0
created_at                           0
updated_at                           0
jobma_support_rtc                    0
interview_question                   0
video_recording_suppport             0
subaccount_permission                2
sing_up_canditate_after_apply        0
currency                             0
referral_credit                      0
company_size                      1738
theme                                0
flag                                 0
jobma_auto_recording_status          0
jobma_scenario_question_status       0
ai_live_interview                    0
bot_audio                            0
approval                             0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7672 entries, 0 to 7671
Data columns (total 51 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   jobma_catcher_id                7672 non-null   int64
 1   jobma_catcher_company           7672 non-null   object
 2   org_type                        7672 non-null   object
 3   sec_ques_id                     7672 non-null   int64
 4   jobma_catcher_otype             7672 non-null   object
 5   jobma_company_address           7672 non-null   object
 6   jobma_catcher_city              7672 non-null   int64
 7   jobma_catcher_state             7672 non-null   int64
 8   jobma_catcher_country           7672 non-null   int64
 9   jobma_catcher_zip               7672 non-null   object
 10  jobma_catcher_status            7649 non-null   object
 11  jobma_catcher_creation          7672 non-null   object
 12  jobma_catcher_type              5425 non-null   object
 13  jobma_catcher_sub_accounts      7672 non-null   object
 14  is_premium                      7672 non-null   object
 15  jobma_catcher_parent            7672 non-null   int64
 16  jobma_catcher_is_deleted        257 non-null    object
 17  jobma_verified                  7672 non-null   object
 18  jobma_in_index                  7354 non-null   object
 19  data_access                     7672 non-null   object
 20  subscription_status             7672 non-null   object
 21  interview_rate                  7672 non-null   float64
 22  deleted_at                      459 non-null    datetime64[ns]
 23  api_key                         7672 non-null   object
 24  sub_user                        7672 non-null   int64
 25  per_sub_user                    7672 non-null   object
 26  live_interview_credit           7672 non-null   float64
 27  pre_recorded_credit             7672 non-null   float64
 28  ai_live_interview_credit        7672 non-null   float64
 29  credit_value                    7672 non-null   int64
 30  interview_cost_type             7672 non-null   object
 31  subscription_type               7672 non-null   object
 32  phone_call_cost_type            7672 non-null   object
 33  temp_subscription_type          7672 non-null   object
 34  created_at                      7672 non-null   datetime64[ns]
 35  updated_at                      7672 non-null   datetime64[ns]
 36  jobma_support_rtc               7672 non-null   object
 37  interview_question              7672 non-null   int64
 38  video_recording_suppport        7672 non-null   object
 39  subaccount_permission           7670 non-null   object
 40  sing_up_canditate_after_apply   7672 non-null   object
 41  currency                        7672 non-null   object
 42  referral_credit                 7672 non-null   int64
 43  company_size                    5934 non-null   object
 44  theme                           7672 non-null   object
 45  flag                            7672 non-null   object
 46  jobma_auto_recording_status     7672 non-null   object
 47  jobma_scenario_question_status  7672 non-null   object
 48  ai_live_interview               7672 non-null   object
 49  bot_audio                       7672 non-null   int64
 50  approval                        7672 non-null   object
dtypes: datetime64[ns](3), float64(4), int64(11), object(33)
memory usage: 3.0+ MB

In [12]:
login_df = pd.read_sql("SELECT * FROM jobma_login", engine)

In [13]:
login_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39321 entries, 0 to 39320
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   jobma_login_id       39321 non-null  int64
 1   jobma_user_name      39321 non-null  object
 2   jobma_password       39321 non-null  object
 3   jobma_role_id        39321 non-null  int64
 4   jobma_user_id        39321 non-null  int64
 5   jobma_last_login     37785 non-null  object
 6   jobma_created_by     7854 non-null   object
 7   confirmed            39321 non-null  int64
 8   confirmation_code    39321 non-null  object
 9   jobma_login_status   7924 non-null   object
 10  jobma_login_ip       39321 non-null  object
 11  forget_password      245 non-null    object
 12  remember_token       39321 non-null  object
 13  jobma_social_login   39321 non-null  int64
 14  password_changed_at  39321 non-null  datetime64[ns]
 15  deleted_at           84 non-null     datetime64[ns]
 16  created_at           39321 non-null  object
 17  updated_at           39321 non-null  object
 18  google2fa_secret     0 non-null      object
 19  two_factor_status    39321 non-null  object
 20  two_factor_type      39321 non-null  object
dtypes: datetime64[ns](2), int64(5), object(14)
memory usage: 6.3+ MB

In [14]:
login_df

,jobma_login_id,jobma_user_name,jobma_password,jobma_role_id,jobma_user_id,jobma_last_login,jobma_created_by,confirmed,confirmation_code,jobma_login_status,...,forget_password,remember_token,jobma_social_login,password_changed_at,deleted_at,created_at,updated_at,google2fa_secret,two_factor_status,two_factor_type
0,1,existinguser@example.com,hashedpassword,4,1001,None,None,1,1,0,...,1,,0,2020-10-30 03:57:14,NaT,2024-09-26 16:21:36,2024-09-26 16:21:36,None,0,0
1,240,superadmin@mailinator.com,$2y$10$TyEFO2DlIqVuwnpn1yDRUeRjIklsTP6Rkiq09sn...,1,162,2024-10-18 07:38:58,0,1,,1,...,None,N52TQOQ1aR3iA8VVC269FnEFApjJM3M1QqW0BOquGr6cIH...,0,2020-05-15 11:50:25,NaT,0000-00-00 00:00:00,2024-10-18 07:38:58,None,0,0
2,535,gaurava@selectsourceintl.com,$2y$10$WEnjfOt4vTnq/x50aYNaE.zDrr4F00EB37NnnYC...,5,96,0000-00-00 00:00:00,0,0,,1,...,0,UBzEkXCpiagAdQiZvHDSMxbu0lQZy3cicuRIf5pFXZWknT...,0,2020-05-15 11:50:25,NaT,2016-11-23 20:53:27,2017-05-09 18:06:45,None,0,0
3,642,SMandeep@selectsourceintl.com,$2y$10$Lj1NrtAvq0KSPu4VM4/sAOUaq1UCHYf0zo1xbcF...,5,557,0000-00-00 00:00:00,1,0,,1,...,1,K5qiDGmZ4UhgBtz94isKfNXo3R01Pi4EJx9AwwyXIrBWjE...,0,2020-05-15 11:50:25,NaT,0000-00-00 00:00:00,2018-02-09 01:02:45,None,0,0
4,993,ywangb13@gmail.com,2982087bec56338d021c81e0bac623a0,4,908,0000-00-00 00:00:00,1,1,,1,...,None,,0,2020-05-15 11:50:25,NaT,0000-00-00 00:00:00,0000-00-00 00:00:00,None,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39316,112385,pratikabc9@yopmail.com,$2b$10$VmMPRrRKW61t4mTIWcovr.dguenWGVUEGmYGUOE...,4,1127089,None,None,1,1,0,...,None,,0,2025-03-26 16:55:35,NaT,2025-03-26 11:25:35,2025-03-26 11:25:35,None,0,0
39317,112387,pratikabc10@yopmail.com,$2b$10$6A5AUWsFx86xHxgYH.eFG.FdyuzcdQrmatTv8IP...,4,1127091,None,None,1,1,0,...,None,,0,2025-03-26 16:56:55,NaT,2025-03-26 11:26:56,2025-03-26 11:26:56,None,0,0
39318,112389,ramesh23@yopmail.com,$2b$10$pBYHn72SXg4RULY5rV1L0uhRQOmcueI.g3OZDbm...,4,1127093,2025-03-26 12:57:28,None,1,1,0,...,None,,0,2025-03-26 17:26:35,NaT,2025-03-26 11:56:36,2025-03-26 11:56:36,None,0,0
39319,112391,ramesh21@yopmail.com,$2b$10$tG9Uy9StD4OOPfR7ZeTyR.TLgmrjZSxP5zqWPFp...,4,1127095,None,None,1,1,0,...,None,,0,2025-03-26 18:28:10,NaT,2025-03-26 12:58:10,2025-03-26 12:58:10,None,0,0
39320,112393,Sergebrian@yopmail.com,$2y$10$p9mNtOk4sjZJU7EMIMiqjeesQf5jvUzvVSYgDNQ...,3,9445,0000-00-00 00:00:00,1,1,,0,...,None,,0,2025-03-28 10:45:12,NaT,2025-03-28 05:15:12,2025-03-28 05:15:12,None,0,0

In [15]:
login_df.isna().sum()

jobma_login_id             0
jobma_user_name            0
jobma_password             0
jobma_role_id              0
jobma_user_id              0
jobma_last_login        1536
jobma_created_by       31467
confirmed                  0
confirmation_code          0
jobma_login_status     31397
jobma_login_ip             0
forget_password        39076
remember_token             0
jobma_social_login         0
password_changed_at        0
deleted_at             39237
created_at                 0
updated_at                 0
google2fa_secret       39321
two_factor_status          0
two_factor_type            0
dtype: int64